################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.user
_ReSharper.*
bin
obj
packages
.vs
package-lock.json
/Rainmaker2/src/MicroServices/DocumentManagement/.vscode
/Rainmaker2/src/MicroServices/DocumentManagement/TestResults
