################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.user
_ReSharper.*
bin
obj
packages
.vs
package-lock.json
node_modules
/Rainmaker2/src/Presentation/libraries/rainsoft-rc/dist
