################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.user
_ReSharper.*
bin
obj
packages
.vs
package-lock.json
/Rainmaker2/src/MicroServices/DocumentManagement/.vscode
/Rainmaker2/src/MicroServices/DocumentManagement/TestResults
node_modules
/Rainmaker2/src/MicroServices/Rainmaker/TestResults
/Rainmaker2/src/Presentation/document-upload/build/*
/build
/dist
Rainmaker2/src/Presentation/document-upload/yarn.lock
