$color: (
  primary: #4484f4,
  primary-text: #ffffff,
  secondry: #7D819D,
  secondry-text: #ffffff,
  border: #dde7f5,
  base: #707070,
  colorBlack: #000000,
  colorWhite: #ffffff,
  listhover: #f6f6f6,
  scroll: #dbdbdb,
  disabled: #e5e5e5,
  disabled-text: #c1c0c0,
  bgColor: #ffffff
);

$font: (
  base: 'Rubik' #{', sans-serif'},
  heading: 'Rubik' #{', sans-serif'}
);

$font-size: (
  xs: 10px,
  sm: 12px,
  nr: 14px,
  md: 14px,
  xmd: 16px,
  lg: 24px,
  xlg: 34px
);

$shadow: -5px 0 30px rgba(0, 0, 0, 0.16);
$loader-res: 30;
