$color:(
    primary             :       #2C9EF5,
    primary-text        :       #ffffff,
    secondry            :       #103B5C,
    secondry-text       :       #ffffff,
    border              :       #DDDDDD, 
    base                :       #4E4E4E, 
    heading             :       #263238,
    bg                  :       #F2F3F5,
    default             :       #F2F3F5,
    colorWhite          :       #ffffff,
    colorBlack          :       #000000,
    colorRed            :       #FF5652,
    sucsess             :       #00AD46,
    scroll              :       #DBDBDB,
    input               :       #A1A1A1,
    // Dashboard
    headerBg            :       #375471,
    headerBg-text       :       #ffffff,
    sidebarBg           :       #2d323d,
    sidebarBg-text      :       #cdd0d8,
    widgetBg            :       #ffffff,
    labelColor          :       #7E829E,
    labelValueColor     :       #4E4E4E,
    sidebarboder        :       rgba(0,0,0,0.2),
    toggleDefaultKnob   :       #cccccc,

    //Manage Templates
    listalertbg         :       #F2F1F2,
    listalert           :       #101111,

    //Status
    statusDefault           :       #cccccc,
    pending                 :       #2C9EF5,
    started                 :       #FFC640,
    borrower                :       #FF5652,
    completed               :       #00AD46,
    notificationCountBg     :       #FF5652,
    notificationCountText   :       #ffffff,

    ReviewDocumentHeaderBg  :       #ffffff,
    ReviewDocumentHeaderText:       #263238,
    ReviewDocumentSidebarBg :       #ffffff,
    ReviewDocumentSidebarText:      #263238,    

    //Document Snipet
    docSnipetBg             :       #F9F9F9,
    docSnipetBorder         :       #DDDDDD,
    docSnipetText           :       #A7A7A7,
    docSnipetBgActive       :       #EEF7FF,
    docSnipetBorderActive   :       #AAD7FF,
    docSnipetSuccess        :       #00AD46,
    docSnipetFailed         :       #FF5652,

    dialogText              :       #A7A7A7,

    // File Viewer
    fileReaderHeaderBg      :       #2D2D2D,
    fileReaderHeaderText    :       #ffffff,

    // Vertical Tabs
    verticalTabsBg          :       #ffffff,
    verticalTabsText        :       #4E4E4E
);


$font:(
    base                :      'Rubik'#{', sans-serif'},
    heading             :      'Rubik'#{', sans-serif'}
);

$font-size:(
    xs: 10px,
    sm: 12px,
    nr: 14px,
    md: 15px,
    xmd:16px,
    lg: 24px,
    xlg: 34px,
    

    h1:34px,
    h2:21px,
    h3:16px,
    h4:14px,
    h5:12px,
    h6:10px,

);
$shadow                :        0 0 3px rgba(0, 0, 0, 0.16);
$headershadow          :        0 3px 3px rgba(141, 141, 141, 0.10);
$float-button-size     :        35px;
$burger-resolution     :        16px;
$rotate-plus-resolution:        10px;

// Bootstrap Variables
$grid-gutter-width:           30px !default;
$primary:       #2C9EF5 !default;
$secondary:     #103B5C !default;
$danger:        #FF5652 !default;

// Private
$widget-space: $grid-gutter-width !default;
