.activityHeader {
    .sub-header-wrap {
        padding-top: 35px;
        padding-bottom: 35px;
        .breadcrmubs {
            a {
                color: color("primary");
                font-size: fontSize("nr");
                font-weight: 500;
                cursor: pointer;
                i{
                    margin-right: 5px;
                    font-size: fontSize("nr")+4;
                }
                &:hover {
                    color: color("base");
                    text-decoration: none;
                }
            }
        }
        .action-doc-upload {
           a {
            color: color("primary");
            font-size: fontSize("nr");
            font-weight: 500;
            cursor: pointer;
            &:hover {
                color: color("base");
                text-decoration: none;
            }
           } 
        }
    }
}
