.Doc-upload {
    margin-right: -5px;
    position    : relative;
    min-height  : 100%;

    @include mobile {
        // padding-bottom: 90px;
        margin-right: 10px;
    }

    &.drag-enter {

        // border: 2px dashed #ebebeb;
        &:after {
            display: block;
            border : 2px dashed #ebebeb;
            z-index: 11;
        }
    }

    &.dragableArea {

        .file-drop-box-wrap,
        .Doc-head-wrap,
        .empty-uploader {
            pointer-events: none;

        }
    }

    &:after {
        content       : "";
        position      : absolute;
        height        : calc(100% - 10px);
        width         : calc(100% + 20px);
        left          : -10px;
        top           : 5px;
        display       : block;
        z-index       : -8888;
        pointer-events: none;
    }

    .empty-uploader {
        height: 330px;

        @include mobile {
            height        : 100%;
            // padding-top: 30%;
            padding-top   : 40px;//5vh;
            min-height    : 240px;
            padding-bottom: 20px;
        }

        // @media (max-height:570px) {
        //     padding-top: 20px;
        //     min-height : 245px;
        // }

        

        .upload-note {
            color: color("light-purple");
            font : 500 #{fontSize("xs") + 1 + "/17px"} fontFamily("base");

            p {
                margin-bottom: 5px;
            }
        }
    }

    .Doc-head-wrap {
        padding-top: 28px;

        @include mobile {
            padding-top   : 16px;
            border-bottom : 1px solid color('border');
            padding-bottom: 10px;
        }

        h2 {
            font: 500 #{fontSize("xmd") + "/1.2"} fontFamily("heading");

            @include media-breakpoint-down(md) {
                font: 500 #{fontSize("xmd")-2 + "/1.2"} fontFamily("heading");
            }

            text-transform: uppercase;
            color         : color("heading");
            margin-top    : 0;
            margin-bottom : 5px;

            span {
                max-width     : 100%;
                display       : inline-block;
                vertical-align: middle;
                padding-right : 5px;

                @include media-breakpoint-down(lg) {
                    max-width: 100%;
                }

                &.d-title-head {
                    @include media-breakpoint-down(lg) {
                        font-size: fontSize("xmd") - 2;
                    }
                }

            }
        }

        p {
            font         : 400 #{fontSize("nr") + "/17px"} fontFamily("base");
            margin-bottom: 0;
            position     : relative;
            padding-left : 25px;

            // text-transform: capitalize;
            @include mobile {
                font: 400 #{fontSize("nr") + "/17px"} fontFamily("base");
            }

            i {
                margin-right: 8px;
                font-size   : fontSize("xmd");
                color       : color("primary");
                position    : absolute;
                left        : 0;
            }
        }

        &--alert {
            color         : $danger;
            font          : 500 #{fontSize("sm") + "/18px"} fontFamily("base");
            padding       : 1px 0px 0;
            text-transform: uppercase;

            @include media-breakpoint-down(lg) {
                font: 500 #{fontSize("sm") - 2 + "/18px"} fontFamily("base");
            }
        }
    }

    &.pageHaveDocUpload {
        .file-drop-box {
            @include mobile {
                min-height: calc(100vh - 330px);
            }
        }
    }

    .file-drop-box {
        min-height   : 480px;
        padding-left : 15px;
        padding-right: 15px;
        margin-left  : -15px;
        margin-right : -15px;

        @include mobile {
            min-height: calc(100vh - 240px);
            min-height: calc((var(--vh, 1vh) * 100) - 240px);
            background: color("colorWhite");
        }

        &.havefooter {
            height: 350px;
            min-height: 350px;

            @include mobile {
                // height: calc(100vh - 465px);
                height        : auto;
                min-height    : calc(100vh - 465px);
                padding-bottom: 10px;
                margin-bottom : 90px;
            }

        }

        .empty-d-box-wrap {
            display        : flex;
            align-items    : center;
            justify-content: center;
            height         : 100%;

            .f-dropbox-wrap {
                .icon-doc-upload {
                    text-align: center;
                }

                .chosefileWrap {
                    padding-top: 12px;
                    text-align : center;
                    font       : 400 #{fontSize("nr") + "/17px"} fontFamily("base");

                    label {
                        display: inline-block;
                        cursor : pointer;

                        span {
                            color: color("primary");
                        }

                        &.btn-sub-mobile {
                            position : absolute;
                            // bottom: 110px;
                            left     : 0;
                            width    : 100%;
                            bottom   : 5px;

                        }
                    }

                    input {
                        opacity   : 0;
                        height    : 0;
                        width     : 0;
                        visibility: hidden;
                        position  : absolute;
                        left      : 0;
                        z-index   : -1;
                    }

                }
            }
        }

        .list-selected-doc {
            padding-top: 30px;
            height     : 100%;

            @include mobile {
                padding-top  : 0px;
                // max-height:100%;
                overflow-y   : unset;
                overflow-x   : unset;
                min-height   : 100%;
                margin-top   : 30px;
                height       : auto;
                margin-right : -15px;
                padding-right: 15px;
                margin-left  : -15px;
                padding-left : 15px;
            }

        }

        .addmore-wrap {
            text-align    : left;
            padding-top   : 10px;
            padding-bottom: 5px;
            display       : flex;
            align-items   : center;

            .addmoreDoc {
                cursor   : pointer;
                font     : 500 #{fontSize("nr") + "/17px"} fontFamily("base");
                color    : color("primary");
                min-width: 110px;

                &.disabled {
                    pointer-events     : none;
                    color              : color('disabled-text');
                    -webkit-user-select: none;
                    -moz-user-select   : none;
                    -ms-user-select    : none;
                    -o-user-select     : none;
                    user-select        : none;
                    svg{
                        [fill="#4484f4"]{fill:color('disabled-text');}
                        [stroke="#4887f1"]{stroke:color('disabled-text');}
                    }
                }
            }

            p {
                font         : 400 #{fontSize("sm") + "/17px"} fontFamily("base");
                padding-left : 10px;
                margin-bottom: 0;
                border-left  : 1px solid #E4E6E6;

                @include mobile {
                    border-left: none;
                    text-align : center;
                    padding    : 5px 10px 5px;
                    max-width  : 270px;
                    margin     : 0 auto;
                }
            }
        }
    }

    .doc-upload-footer {
        min-height: 66px;
        border-top: 1px solid color("border");
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left   : -15px;
        margin-right  : -15px;
        padding-left  : 15px;
        padding-right : 15px;

        @include mobile {
            display        : flex;
            flex-direction : column;
            justify-content: center;
            // min-height: 95px;
            position       : fixed;
            bottom         : 61px;
            background     : color('colorWhite');
            width          : 100%;
            left           : 0;
            margin         : 0;
            z-index: 10;
        }

        .doc-submit-wrap {
            text-align: right;

            @include mobile {
                text-align: center;

                .btn {
                    width: 100%;
                }
            }
        }

        .doc-confirm-wrap {
            padding-top: 7px;
            float: right;
            @include mobile {
                padding-top   : 5px;
                padding-bottom: 0;
            }

            .dc-text {
                height     : 100%;
                display    : flex;
                align-items: center;

                @include mobile {
                    justify-content: center;
                }

                p {
                    margin-bottom: 0;
                    font         : 400 #{fontSize("nr") + "/17px"} fontFamily("base");

                    @include mobile {
                        font: 400 #{fontSize("sm") + "/17px"} fontFamily("base");
                    }

                    @media (max-width:360px) {
                        font: 400 #{fontSize("sm")-1 + "/17px"} fontFamily("base");
                    }
                }
            }

            .dc-actions {
                text-align: right;
                white-space: pre;
                @extend .clearfix;
                @include mobile {
                    padding-bottom: 10px;
                    text-align    : center;
                }

                button {
                    @include media-breakpoint-down(lg) {
                        padding: 9px 12px 7px;
                    }

                    margin-right:5px;

                    @include media-breakpoint-down(md) {
                        padding: 9px 9px 7px;
                    }

                    @include mobile {
                        min-width: 138px;
                        font     : 500 #{fontSize("sm") + "/1"} fontFamily("base");
                        padding  : 12px 10px 11px;
                    }

                    @include smallMobile {
                        min-width: 140px;
                        font     : 500 #{fontSize("sm") + "/1"} fontFamily("base");
                        padding  : 13px 12px 11px;
                    }

                    @include extraSmallMobile{
                        font-size: 10px;
                        min-width: 0;
                        padding: 13px 8px 11px;
                    }

                    &:last-child {
                        margin-right: 0;
                    }
                }

            }
        }

        .text-danger {
            padding: 15px 5px;
            margin : 0;

            i {
                margin-left: 15px;
                cursor     : pointer;
            }
        }

    }

    // .doc-upload-footer
}

.drag-preview {
    background     : rgba(color('colorWhite'), 0.95);
    position       : absolute;
    width          : 100%;
    height         : 100%;
    z-index        : 5258585522;
    display        : flex;
    align-items    : center;
    justify-content: center;
    text-align     : center;
    pointer-events : none;

    &-icon {
        padding-bottom: 10px;
        pointer-events: none;

        img {
            max-width: 100%;
            height   : auto;
        }
    }

    &-content {
        font          : 500 #{fontSize("xmd") + "/1"} fontFamily("base");
        color         : color('base');
        text-transform: uppercase;
        pointer-events: none;
    }
}

.rename-popup {
    .modal-dialog {
        max-width: 96vw;
        width: 350px;
        margin   : 0 auto;

        .modal-header {
            position      : relative;
            padding-right : 30px;
            padding-left  : 30px;
            padding-top   : 15px;
            padding-bottom: 15px;
            border        : none;

            .modal-title {
                font      : 500 #{fontSize("nr") + "/1"} fontFamily("heading");
                text-align: center;
                width     : 100%;
                color     : color('colorBlack');
            }

            .close {
                position: absolute;
                right   : 17px;
                top     : 17px;
                z-index : 258;
                opacity : 1;
                padding : 4px 8px;
                outline : none;
            }
        }

        .m-rename-popup-docWrap {
            .m-popup-doc-li {
                .mp-d-l-wrap {
                    display        : flex;
                    align-items    : center;
                    justify-content: left;
                    padding-left   : 23px;
                    position       : relative;
                    margin-bottom  : 15px;

                    .doc-icon {
                        position: absolute;
                        left    : 0;

                        i {
                            color    : color("primary");
                            font-size: fontSize('xmd') + 7;
                        }
                    }

                    .m-d-l-info {
                        width: 100%;

                        h4 {
                            font         : 400 #{fontSize("nr") + "/1.2"} fontFamily("heading");
                            color        : #989797;
                            margin-bottom: 0;

                        }

                        p {
                            font         : 400 #{fontSize("nr") + "/1.2"} fontFamily("base");
                            color        : color('colorlightGray');
                            margin-bottom: 0;
                            white-space  : nowrap;
                            overflow     : hidden;
                            text-overflow: ellipsis;
                        }
                    }

                }

                .rename-doc-input {
                    input {
                        width  : 100%;
                        border : 1px solid color("border");
                        padding: 6px 6px;
                        font   : 400 #{fontSize("nr") + "/1"} fontFamily("base");
                        color  : color('colorBlack');

                        &.haveError {
                            border: 1px solid color("colorred");
                        }

                        &:focus {
                            outline: none;
                        }
                    }
                }

                .dl-errorrename {
                    font : 400 #{fontSize("sm") + "/1"} fontFamily("base");
                    color: color('colorred');
                }
            }
        }

        .modal-footer {
            justify-content: center;
            border-top     : none;
            background     : color("modalfooter");
            padding        : 6px 10px;

            .btn {
                font     : 400 #{fontSize("sm") + "/1"} fontFamily("base");
                min-width: 205px;
                padding  : 9px 35px 7px;
            }
        }
    }
}

.upload-btns-wrap {
    width          : 100%;
    max-width      : 190px;
    margin         : 0 auto;
    display        : flex;
    align-items    : center;
    justify-content: space-evenly;
    padding-top    : 30px;
    padding-bottom : 20px;
    text-align     : center;

    .addmoreDoc {
        min-width: 0 !important;
    }

    .camera-wrap {
        border-right : 1px solid color('border');
        padding-right: 25px;
    }

    .folder-wrap {
        padding-left: 5px;
    }

    .iconic-btn {
        margin-bottom: 0;

        &-img {
            display: block;
        }

        &-lbl {
            display   : block;
            margin-top: 10px;
            font      : 400 #{fontSize("nr") + "/17px"} fontFamily("base");
            color     : color("base") !important;
        }
    }
}

.doc-list-ul {
    @include scrollbar;
    margin-right : -5px;
    padding-right: 5px;
    max-height   : calc(100% - 50px);
    overflow     : auto;
    margin-top   : 10px;

    @include mobile {
        @include scrollbar(6, 6);
        overflow  : unset;
        max-height: fit-content !important;
    }

    @include media-breakpoint-down(lg) {
        max-height: calc(100% - 60px);
    }

    .btn{
        cursor: pointer;
        &.btn-sm{
            @include font(500,1,'xs','base');
            padding: 8px 15px;
        }
    }

    >li {
        min-height   : 58px;
        background   : color("listhover");
        border       : 1px solid #EBEBEB;
        box-shadow   : 0 0 3px rgba(color("colorBlack"), 0.16);
        position     : relative;
        margin-bottom: 10px;

        @include mobile {
            background: color("colorgray");
            min-height: 40px;
            border    : 1px solid color('border');
            box-shadow: none;

            &.dopen {
                border: 1px solid color('primary');
            }

        }

        &.dopen{
            .doc-liWrap{
                z-index: 9;
            }
        }

        &.editmode {
            border: 1px solid color('primary');
        }

        &.item-error {
            .doc-liWrap {
                @include mobile {
                    padding-right: 60px;
                    padding-left : 35px;
                }

                .doc-icon {
                    img {
                        margin-top: 3px;

                        @include mobile {
                            max-width : 15px;
                            margin-top: 0px;

                        }
                    }
                }
            }

            .doc-list-content {
                .title {
                    padding-top: 0;
                    color      : color("colorred");

                    p {
                        color: color("colorred");

                    }
                }

                .dl-info {
                    color: color("colorred");

                }
            }

            .doc-list-actions {
                a {
                    color: color("colorred");
                    font : 400 #{fontSize("xs") + 1 + "/17px"} fontFamily("base");

                    .retry-txt {
                        display       : inline-block;
                        vertical-align: middle;

                        @include mobile {
                            display: none;
                        }
                    }

                    img {
                        margin-left: 8px;

                        @include mobile {
                            max-width: 13px;
                        }
                    }

                    i,
                    em {
                        font-size     : fontSize('lg');
                        vertical-align: middle;

                        @include mobile {
                            font-size: fontSize('lg') - 4;
                        }
                    }
                }

                .editable-actions {
                    @extend .list-style-none;

                    >li {
                        display: inline-block;

                        &+li {
                            margin-left: 10px;
                        }

                        a {
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        &:last-child {
            margin-bottom: 0px;
        }

        .doc-liWrap {
            position     : relative;
            padding      : 18px 10px;
            padding-left : 60px;
            padding-right: 170px;
            z-index: 1;

            .doc-list-content{
                padding-right: 50px;
                max-width: 100%;
            }

            @include media-breakpoint-down(md) {
                padding-right: 120px;
            }

            @include mobile {
                padding-right: 40px;
                padding-left : 38px;
            }

        }

        .doc-icon {
            position : absolute;
            left     : 20px;
            width    : 25px;
            height   : 33px;
            top      : 50%;
            transform: translateY(-50%);

            @include mobile {
                height    : 21px;
                top       : 50%;
                left: 15px;
                transform: translateY(-50%);
                margin: 0;
                display: flex;
                align-items: center;
            }

            i {
                font-size: 33px;
                color    : color("primary");

                @include mobile {
                    font-size: 20px;
                }
            }
        }

        .doc-list-content {
            .title {
                font : 400 #{fontSize("nr") + "/17px"} fontFamily("base");
                color: color("colorBlack");

                @include mobile {
                    padding-top: 0;
                    font       : 400 #{fontSize("sm") + "/1.3"} fontFamily("base");
                }

                input,
                p {
                    display      : block;
                    font-family  : inherit;
                    font-size    : inherit;
                    color        : color("colorBlack");
                    padding      : 0;
                    border       : 1px solid transparent;
                    width        : 100%;
                    white-space  : nowrap;
                    overflow     : hidden;
                    text-overflow: ellipsis;
                    background   : none;
                    margin-bottom: 0;

                    @include mobile {
                        border: none;
                    }

                    &:focus,
                    &:active {
                        outline: none;
                    }
                }
            }

            .dl-info {
                font       : 400 #{fontSize("xs") + 1 + "/17px"} fontFamily("base");
                margin-left: 1px;
                color      : color("gray2");

                span {
                    vertical-align  : middle;
                    // padding-right: 3px;
                }

                .dl-errorrename {
                    color: color("colorred");
                }
            }
        }

        .readable-actions {
            display        : flex;
            justify-content: right;
            align-items    : center;
            height         : 100%;

            li {
                padding     : 0 15px;
                border-right: 1px solid color("border2");
                min-height  : 24px;

                @include media-breakpoint-down(md) {
                    padding: 0 10px;
                }

                &:last-child {
                    padding-right: 0;
                    border-right : 0;
                }

                a {
                    cursor : pointer;
                    display: block;

                    &.icon-uploaded {
                        cursor: default;
                    }
                }

                i {
                    font-size  : fontSize("lg");
                    line-height: 24px;
                    display    : block;
                    color      : color("light-purple");
                }

                .icon-uploaded {
                    i {
                        color: color("secondry");
                    }
                }
            }
        }

        .editableview {
            .doc-list-content {
                .title {
                    input {
                        display      : block;
                        font-family  : inherit;
                        font-size    : inherit;
                        padding      : 0 2px;
                        border       : 1px solid color("primary");
                        background   : color("colorWhite");
                        width        : 80%;
                        white-space  : nowrap;
                        overflow     : hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }

        .doc-list-actions {
            position : absolute;
            right    : 20px;
            top      : 50%;
            transform: translateY(-50%);
            z-index: 0;

            ul {
                padding-top: 4px;

                .doc-rename-btn {
                    font   : 400 #{fontSize("xs") + "/1"} fontFamily("base");
                    height : 30px;
                    padding: 10px 19px;
                }
            }

            &.doc-list-actions-mobile {
                padding-top  : 0;
                //margin-top   : -12px;
                //top          : 50%;
                padding-right: 10px;
                margin: 0;

                .m-d-l-submitted-icon {
                    a {
                        color     : color("secondry");
                        margin-top: 3px;
                        display   : inline-block;

                        i {
                            font-size: fontSize('xmd') + 4;
                        }
                    }
                }

                .dropdown {
                    .dropdown-toggle {
                        &::after {
                            display: none;
                        }

                        &#doc-list-m-actions {
                            text-align  : center;
                            margin-right: -10px;
                            width       : 30px;
                        }

                        i {
                            font-size: fontSize('nr');
                        }
                    }

                    .dropdown-menu {
                        max-width     : 85px;
                        min-width     : 85px;
                        border-radius : 0;
                        padding       : 10px 5px;
                        border        : 1px solid color('border');
                        box-shadow    : $shadow;
                        // margin-left: 10px !important;
                        margin-left   : -5px !important;

                        &::before {
                            content      : "";
                            border-bottom: 8px solid color('colorWhite');
                            border-right : 5px solid transparent;
                            border-left  : 5px solid transparent;
                            position     : absolute;
                            right        : 5px;
                            top          : -8px;
                        }

                        &[x-placement='top-end'] {
                            &::before {
                                border-top   : 8px solid color('colorWhite');
                                border-right : 5px solid transparent;
                                border-left  : 5px solid transparent;
                                position     : absolute;
                                right        : 5px;
                                bottom       : -8px;
                                top          : auto;
                                border-bottom: none;
                            }
                        }

                        .m-d-l-item {
                            display      : flex;
                            align-items  : center;
                            margin-bottom: 2px;
                            cursor: pointer;
                            line-height: 1.5;

                            .d-l-m-icon {
                                width       : 16px;
                                text-align  : center;
                                margin-right: 5px;

                                svg {
                                    height    : 11px;
                                    width     : 14px;
                                    margin-top: -3px;
                                    color     : color('light-purple');

                                }

                                i {
                                    font-size: fontSize("nr")+1;
                                    color    : color('light-purple');
                                }
                            }

                            span {
                                font : 400 #{fontSize("sm") + "/1"} fontFamily("base");
                                color: color('base');
                            }
                        }
                    }
                }
            }
        }

        .document-confirm-wrap {
            padding: 15px 15px;

            .dc-text {
                height     : 100%;
                display    : flex;
                align-items: center;

                p {
                    margin-bottom: 0;
                    font         : 400 #{fontSize("nr") + "/17px"} fontFamily("base");
                }
            }

            .dc-actions {
                text-align: right;

                button {
                    margin-right: 5px;

                    &:last-child {
                        margin-right: 0;
                    }
                }

            }
        }

        .progress-upload {
            width     : 1%;
            height    : 4px;
            background: color('primary');
            position  : absolute;
            bottom    : 0;
            @include transition(all 0.5s ease-out);
        }
    }
}

.doc-li {
    min-height   : 58px;
    background   : color("listhover");
    border       : 1px solid #EBEBEB;
    box-shadow   : 0 0 3px rgba(color("colorBlack"), 0.16);
    position     : relative;
    margin-bottom: 10px;

    @include mobile {
        background: color("colorgray");
        min-height: 40px;
        border    : 1px solid color('border');
        box-shadow: none;

        &.dopen {
            border: 1px solid color('primary');
        }

    }

    &.editmode {
        border: 1px solid color('primary');
    }

    &.item-error {
        .doc-liWrap {
            @include mobile {
                padding-right: 60px;
                padding-left : 35px;
            }

            .doc-icon {
                img {
                    margin-top: 3px;

                    @include mobile {
                        max-width : 15px;
                        margin-top: -6px;

                    }
                }
            }
        }

        .doc-list-content {
            .title {
                padding-top: 0;
                color      : color("colorred");

                p {
                    color: color("colorred");

                }
            }

            .dl-info {
                color: color("colorred");

            }
        }

        .doc-list-actions {
            a {
                color: color("colorred");
                font : 400 #{fontSize("xs") + 1 + "/17px"} fontFamily("base");

                .retry-txt {
                    display       : inline-block;
                    vertical-align: middle;

                    @include mobile {
                        display: none;
                    }
                }

                img {
                    margin-left: 8px;

                    @include mobile {
                        max-width: 13px;
                    }
                }

                i,
                em {
                    font-size     : fontSize('lg');
                    vertical-align: middle;

                    @include mobile {
                        font-size: fontSize('lg') - 4;
                    }
                }
            }

            .editable-actions {
                @extend .list-style-none;

                >li {
                    display: inline-block;

                    &+li {
                        margin-left: 10px;
                    }

                    a {
                        cursor: pointer;
                    }
                }
            }
        }
    }

    &:last-child {
        margin-bottom: 0px;
    }

    .doc-liWrap {
        position     : relative;
        padding      : 18px 10px;
        padding-left : 60px;
        padding-right: 170px;

        @include media-breakpoint-down(md) {
            padding-right: 120px;
        }

        @include mobile {
            padding-right: 40px;
            padding-left : 35px;
        }

    }

    .doc-icon {
        position : absolute;
        left     : 20px;
        width    : 25px;
        height   : 33px;
        top      : 50%;
        transform: translateY(-50%);

        @include mobile {
            height    : 21px;
            top       : 50%;
            margin-top: -10px;
        }

        i {
            font-size: 33px;
            color    : color("primary");

            @include mobile {
                font-size: 20px;
            }
        }
    }

    .doc-list-content {
        .title {
            font : 400 #{fontSize("nr") + "/17px"} fontFamily("base");
            color: color("colorBlack");

            @include mobile {
                padding-top: 0;
                font       : 400 #{fontSize("sm") + "/1.3"} fontFamily("base");
            }

            input,
            p {
                display      : block;
                font-family  : inherit;
                font-size    : inherit;
                color        : color("colorBlack");
                padding      : 0;
                border       : 1px solid transparent;
                width        : 100%;
                white-space  : nowrap;
                overflow     : hidden;
                text-overflow: ellipsis;
                background   : none;
                margin-bottom: 0;

                @include mobile {
                    border: none;
                }

                &:focus,
                &:active {
                    outline: none;
                }
            }
        }

        .dl-info {
            font       : 400 #{fontSize("xs") + 1 + "/17px"} fontFamily("base");
            margin-left: 1px;
            color      : color("gray2");

            span {
                vertical-align  : middle;
                // padding-right: 3px;
            }

            .dl-errorrename {
                color: color("colorred");
            }
        }
    }

    .readable-actions {
        display        : flex;
        justify-content: right;
        align-items    : center;
        height         : 100%;

        li {
            padding     : 0 15px;
            border-right: 1px solid color("border2");
            min-height  : 24px;

            @include media-breakpoint-down(md) {
                padding: 0 10px;
            }

            &:last-child {
                padding-right: 0;
                border-right : 0;
            }

            a {
                cursor : pointer;
                display: block;

                &.icon-uploaded {
                    cursor: default;
                }
            }

            i {
                font-size  : fontSize("lg");
                line-height: 24px;
                display    : block;
                color      : color("light-purple");
            }

            .icon-uploaded {
                i {
                    color: color("secondry");
                }
            }
        }
    }

    .editableview {
        .doc-list-content {
            .title {
                input {
                    display      : block;
                    font-family  : inherit;
                    font-size    : inherit;
                    padding      : 0 2px;
                    border       : 1px solid color("primary");
                    background   : color("colorWhite");
                    width        : 80%;
                    white-space  : nowrap;
                    overflow     : hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }

    .doc-list-actions {
        position : absolute;
        right    : 20px;
        top      : 50%;
        transform: translateY(-50%);

        ul {
            padding-top: 4px;

            .doc-rename-btn {
                font   : 400 #{fontSize("xs") + "/1"} fontFamily("base");
                height : 30px;
                padding: 10px 19px;
            }
        }

        &.doc-list-actions-mobile {
            padding-top  : 0;
            margin-top   : -12px;
            top          : 50%;
            right: 6px;
            padding-right: 10px;

            .m-d-l-submitted-icon {
                a {
                    color     : color("secondry");
                    margin-top: 3px;
                    display   : inline-block;

                    i {
                        font-size: fontSize('xmd') + 4;
                    }
                }
            }

            .dropdown {
                .dropdown-toggle {
                    &::after {
                        display: none;
                    }

                    &#doc-list-m-actions {
                        text-align  : center;
                        margin-right: -10px;
                        width       : 30px;
                    }

                    i {
                        font-size: fontSize('nr');
                    }
                }

                .dropdown-menu {
                    max-width     : 85px;
                    min-width     : 85px;
                    border-radius : 0;
                    padding       : 10px 5px;
                    border        : 1px solid color('border');
                    box-shadow    : $shadow;
                    // margin-left: 10px !important;
                    margin-left   : -5px !important;

                    &::before {
                        content      : "";
                        border-bottom: 8px solid color('colorWhite');
                        border-right : 5px solid transparent;
                        border-left  : 5px solid transparent;
                        position     : absolute;
                        right        : 5px;
                        top          : -8px;
                    }

                    &[x-placement='top-end'] {
                        &::before {
                            border-top   : 8px solid color('colorWhite');
                            border-right : 5px solid transparent;
                            border-left  : 5px solid transparent;
                            position     : absolute;
                            right        : 5px;
                            bottom       : -8px;
                            top          : auto;
                            border-bottom: none;
                        }
                    }

                    .m-d-l-item {
                        display      : flex;
                        align-items  : center;
                        margin-bottom: 2px;

                        .d-l-m-icon {
                            width       : 16px;
                            text-align  : center;
                            margin-right: 5px;

                            svg {
                                height    : 11px;
                                width     : 14px;
                                margin-top: -3px;
                                color     : color('light-purple');

                            }

                            i {
                                font-size: fontSize("nr")+1;
                                color    : color('light-purple');
                            }
                        }

                        span {
                            font : 400 #{fontSize("sm") + "/1"} fontFamily("base");
                            color: color('base');
                        }
                    }
                }
            }
        }
    }

    .document-confirm-wrap {
        padding: 15px 15px;

        .dc-text {
            height     : 100%;
            display    : flex;
            align-items: center;

            p {
                margin-bottom: 0;
                font         : 400 #{fontSize("nr") + "/17px"} fontFamily("base");
            }
        }

        .dc-actions {
            text-align: right;

            button {
                margin-right: 5px;

                &:last-child {
                    margin-right: 0;
                }
            }

        }
    }

    .progress-upload {
        width     : 1%;
        height    : 4px;
        background: color('primary');
        position  : absolute;
        bottom    : 0;
        @include transition(all 0.5s ease-out);
    }
}
