.Doc-upload {
    .Doc-head-wrap {
        padding-top: 28px;
        h2 {
            font: 500 #{fontSize("xmd") + "/1.2"} fontFamily("heading");
            text-transform: uppercase;
            color: color("heading");
            margin-top: 0;
            margin-bottom: 5px;
        }
        p {
            font: 400 #{fontSize("nr") + "/17px"} fontFamily("base");
            margin-bottom: 0;
            i {
                margin-right: 8px;
                font-size: fontSize("xmd");
                color: color("primary");
            }
        }
    }
    .file-drop-box {
        height: 425px;
        width: 100%;
        .empty-d-box-wrap{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        .f-dropbox-wrap {
            .icon-doc-upload {
                text-align: center;
            }
            .chosefileWrap {
                padding-top: 12px;
                text-align: center;
                font: 400 #{fontSize("nr") + "/17px"} fontFamily("base");
                label {
                    display: inline-block;
                    cursor: pointer;
                    span {
                        color: color("primary");
                    }
                }
                input {
                    opacity: 0;
                    height: 0;
                    width: 0;
                    visibility: hidden;
                }
            }
        }
    }
.list-selected-doc {
    padding-top: 30px;
    .doc-list-ul  { 
      & > li {
            min-height: 62px;
            background:color('listhover');
            box-shadow:0 0 3px  rgba(color('colorBlack'), 0.16); 
            position: relative;
            padding: 15px 10px;
            padding-left: 45px;
            padding-right: 130px;
            margin-bottom: 5px;
            .doc-icon {
                position: absolute;
                left: 10px;
                width: 25px;
                height: 33px;
                top: 15px;
                
                i{
                    font-size:33px;
                    color: color("primary");
                }
            }
            .doc-list-content {
                .tilte {
                    font: 400 #{fontSize("nr") + "/17px"} fontFamily("base");
                    color: color('colorBlack');
                    input{
                        display: block;
                        font-family: inherit;
                        font-size: inherit;
                        padding: 0;
                        border: 1px solid transparent;
                        width: 100%;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        background: none;
                        &:focus,&:active{
                            outline: none;
                        }
                    }
                }
                .dl-info {
                    font: 400 #{fontSize("xs")+1 + "/17px"} fontFamily("base");
                    color: color('gray2');
                    span {
                        vertical-align: middle;
                        // padding-right: 3px;
                    }
                }

                
            }
            .editableview {
                .doc-list-content {
                    .tilte {
                input{
                    display: block;
                    font-family: inherit;
                    font-size: inherit;
                    padding: 0 2px;
                    border: 1px solid color('primary');
                    background: color('colorWhite');
                    width: 80%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            }
            }

            .doc-list-actions {
                position: absolute;
                right: 0;
                top: 0;
                height: 100%;
                padding: 15px 10px;
                ul {
                    padding-top: 4px;
                .doc-rename-btn {
                    font: 400 #{fontSize("xs") + "/1"} fontFamily("base"); 
                    height: 30px;
                    padding: 10px 19px;
                }
            }
            }


        }
    }
}

    }
}
