.dr-list-wrap{
    nav {
        ul {
            margin-left: -20px;
            max-height: 440px;
           
    overflow: auto;
    @include scrollbar;
    @include mobile {
        max-height: calc(100vh - 245px);
        @include scrollbar(6,6)
    }
            li {
                position: relative;
                @include mobile {
                    border: 1px solid color('border');
                    margin-bottom: 5px;
                    &:last-child {
                        margin-bottom: 0px;  
                    }
                }
                a { 
                min-height: 39px;
                margin-bottom: 1px;
                cursor: pointer;
                display: flex;
                width: 100%;
                align-items: center;
                padding-left: 45px;
                font:400 #{fontSize("nr")+"/17px"} fontFamily("base");
                position: relative;
                padding-right: 15px;
                @include mobile {
                    padding-right: 40px;
                }
                &::before {
                    content: "\f15b";
                    font-family: "Font Awesome 5 Free";
                    -moz-osx-font-smoothing: grayscale;
                    -webkit-font-smoothing: antialiased;
                    display: inline-block;
                    font-style: normal;
                    font-variant: normal;
                    text-rendering: auto;
                    line-height: 1;
                    position: absolute;
                    left: 20px;
                    color:color('light-purple');
                    @include mobile {
                        color:color('primary') 
                    }
                    
                }
                &.active {
                    &::before {
                        color:color('primary')
                    }
                }
                span {
                    padding-top: 3px;
                    display: block;
                    @extend .text-ellipsis;
                }
                i,img {
                    font-size:fontSize("md") ;
margin-right: 15px; display: none;
                }
                &:hover,&.active {
background-color: color('listhover');
@include mobile {
    background-color: color('colorWhite');
}
                }
            }

            .pd-m-arrow-icon {
                position: absolute;
                right: 15px;
                top: 50%;
                margin-top: -8px;
                cursor: pointer;
                color: color("light-purple");
                pointer-events: none;
                i {
                    font-size:fontSize("xmd");
                }
            }
            }
        }
    }
}