.DocumentStatus {
    min-height: calc(100% - 15px);
    position: relative;
    &.hasData{
        background-image: url("../../images/doc-request.png");
        background-image: url("../../images/doc-request.svg");
        background-image: url("../../images/get-started-bg.svg");
        background-position:center;
        background-repeat: no-repeat;
        background-color: color('colorWhite');
        @include media-breakpoint-down(lg) {
            // background-position: 112% 43px;
            // background-size: 65%;
        }
        @include media-breakpoint-down(md) {
            // background-position: 106% 69px;
            // background-size: 58%;
        }
    }
    .overlay-DocumentStatus {
        //background: rgba(color('colorWhite'), 0.80);
    }
.list {
    li {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
        @include media-breakpoint-down(md) {
            font-size: fontSize("nr")-1;
            max-width: 100%
        }
        
    }
}


    &.box-wrap {
        padding: 20px 20px;
      
    }

    .box-wrap{
        &--body {
            padding-bottom: 50px;
            min-height: 390px;
        }
        &--footer {
            @extend .clearfix;
            position: absolute;
            width: 100%;
            bottom: 20px;
            right: 0;
            padding-right: 20px;
            padding-left: 20px;
        }
    }
  
   

    &--count {
        color: color("primary");
        font: bolder #{fontSize("md") + "/18px"} fontFamily("heading");
    }
    &.empty {
        background:color('colorWhite') !important; 

        .edc-flex {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 345px;
            padding-top: 50px;
            .eds-img {
                text-align: center;
                img {
                    max-width: 100%;
                    height: auto;
                }
            }
            .eds-txt {
                text-align: center;
                padding-top: 20px;
            }
        }

    }
}