.DocumentStatus {
    min-height: calc(100% - 15px);
    position: relative;
    &.hasData{
        background: url("/assets/img/doc-request.png") no-repeat top right #fff;
        @include media-breakpoint-down(lg) {
            background-position-y: 40%;
            background-size: 60%;
        }
        @include media-breakpoint-down(md) {
            background-position-y: 25%;
            background-size: 60%;
        }
    }



    &.box-wrap {
        padding: 20px 20px;
      
    }

    .box-wrap{
        &--body {
            padding-bottom: 50px;
            min-height: 405px;
        }
        &--footer {
            @extend .clearfix;
            position: absolute;
            width: 100%;
            bottom: 20px;
            right: 0;
            padding-right: 20px;
            padding-left: 20px;
        }
    }
  
   

    &--count {
        color: color("primary");
        font: bolder #{fontSize("md") + "/18px"} fontFamily("heading");
    }
    &.empty {
        background:color('colorWhite') !important; 

        .edc-flex {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 345px;
            padding-top: 50px;
            .eds-img {
                text-align: center;
                img {
                    max-width: 100%;
                    height: auto;
                }
            }
            .eds-txt {
                text-align: center;
                padding-top: 20px;
            }
        }

    }
}