.header-main{
    font-size: fontSize('lg');
    border-top: none;
    box-shadow: $headershadow;
    min-height: 60px;
    padding: 0;
    background: color('colorWhite');
    position: relative;
    .navbar {
        margin: 0;
        padding: 13px 0 12px;
    }
    .h-logo {
        max-width: 123px;
        margin-left:5px;
        img {
            // max-width: 100%;
            max-height: 35px;
            width: auto;
        }
    }
    .s-account{
        color: #4e4e4e;
        text-align: right;
        padding-top: 5px;
        margin-right: 5px;
    .userdropdown {
        float: right;
        margin: -8px 0 0 0;
        .hd-shorname {
            cursor: pointer;
            height: 14px;
    width: 14px;
    background:color('primary');
    display: inline-block;
    vertical-align: middle;
    @include borderRadius(100%,false);
    margin-top: 5px;
    text-align: center;
    line-height: 14px;
           &:after {
            color: color('primary-text'); 
            display: inline-block;
            width: 0;
            height: 0;
            content: "";
            border-top: 4px solid;
            border-right: 4px solid transparent;
            border-left: 4px solid transparent;
            border-bottom: 0;
           }
         
        }
        &.show {
            .hd-shorname {
                &:after {
     
                    border-top: 0px solid;
                    border-right: 4px solid transparent;
                    border-left: 4px solid transparent;
                    border-bottom: 4px solid;
                    position: relative;
                    top: -1px;
                   }
            }

        }
        .dropdown-menu {

        border-radius: 0;
        padding-bottom: 0;
        padding-top: 0;
        border: none;
        box-shadow: $shadow;
        .dropdown-item {
            border-bottom: 1px solid color('border');
            font: 400 #{fontSize("md")+"/1.3"} fontFamily("base");
            color: color('base');
            padding-top: 10px;
            padding-bottom: 10px;
            &:hover,&:active,&.active{
                background-color: color('listhover') ;
                color: color('base');
            }
            &:first-child{
                padding-top: 10px;
            }
            &:last-child{
                border-bottom: 0px solid color('border'); 
            }
           
        }
    }
    }
}
    .d-name {
        color: color('light-purple');  
        font: 400 #{fontSize("nr")+"/1"} fontFamily("heading");
        padding-right: 10px;
        position: relative;
        cursor: pointer;
        margin-top: 5px;
    display: inline-block !important;
    vertical-align: middle;
    -webkit-user-select: none;        
-moz-user-select: none; 
-ms-user-select: none; 
-o-user-select: none;
user-select: none;
        &:hover {
            text-decoration: none;
        }
        &::after {
display: none;
        }
    }

}