.header-main{
    font-size: fontSize('lg');
    border-top: none;
    border-bottom: 1px solid rgba(205, 205, 205, 0.2);
    min-height: 80px;
    padding: 0;
    background: color('colorwhite');
    .navbar {
        margin: 0;
        padding: 16px 0;
    }
    .h-logo {
        max-width: 131px;
        margin-left:40px;
        img {
            max-width: 100%;
            height: auto;
        }
    }
    .s-account{
        color: #4e4e4e;
        text-align: right;
        padding-top: 16px;
        margin-right: 40px;
    .userdropdown {
        float: right;
        margin: -8px 0 0 0;
        .hd-shorname {
            cursor: pointer;
           span {
            background: #4484f4;
            color: #fff;
            border-radius: 50%;
            height: 36px;
            width: 36px;
            display: inline-block;
            text-align: center;
            font-size: 16px;
            line-height: 36px;
            letter-spacing: normal;
           }
           &:after {
            color: color('colordarkblue'); 
            display: inline-block;
            width: 0;
            height: 0;
            vertical-align: middle;
            content: "";
            border-top: 6px solid;
            border-right: 6px solid transparent;
            border-left: 6px solid transparent;
            border-bottom: 0;
            margin-top: 5px;
           }
         
        }
    }
}
    .d-name {
        color: color('colordarkblue');  
        font-family: fontFamily('heading');
        font-weight: 700;
        margin-right: 22px;
        position: relative;
        font-size: 18px;
        cursor: default;
        float: left;
        &:hover {
            text-decoration: none;
        }
        &:after {
            content: '';
            position: absolute;
            height: 18px;
            width: 2px;
            background: #cccccc;
            right: -12px;
            top: 5px;
        }
    }

}