.UploadedDocuments{
    .box-wrap--header {
        border-bottom: 1px solid color('border');
    }
    &.havedoc{
        .box-wrap--header {
            border-bottom: 1px solid color('border');
        }
    }
    &.box-wrap{
        padding: 0px;
    }
    &.box-mobilewrap {
        background: color('colorgray');
        border: none;
        box-shadow:none;
    }

    .box-wrap{
        &--header{       
            min-height: 50px;    
            //padding: 20px;
            @include mobile{
                background:color('primary');
                color:color('colorWhite');
                text-align: center;
                font: 500 #{fontSize('xmd')+'/1'} fontFamily('base');
                padding: 8px 15px; min-height:40px;
                margin-bottom: 7px;
                border: none;
                margin-left: -15px;
                margin-right: -15px;
            }
            
            h2{
                margin: 0;
                display: inline-block;
                padding: 17px 20px;
                @include mobile{
                    color:color('colorWhite');padding: 4px 20px;
                }
            }
        }
    }
}