.UploadedDocumentsTable{
    .block-element{
        margin-bottom: 10px;
    }

    .table{
        margin-bottom: 40px;

        thead > tr > th, 
        tbody > tr > td {
            padding-left: 20px !important;
        }

        thead{
            font-weight: 500;
            th{
                font-weight: 500;
            }
        }
        tbody{
            font-weight: 400;
        }

        td,th{
            border-top: 0px;
        }
        th{
            border-bottom: 1px solid color('border');
        }

        
        
        .doc-name{
            padding-left: 25px;
            position: relative;
            display: block;

            .fa-file{
                position: absolute;
                top: 0px;
                left: 5px;
            }
        }
    } 
}