.UploadedDocumentsTable{
    overflow: auto;
    @include media-breakpoint-down(lg) {
        font-size: fontSize("nr")-1;
    }
    @include media-breakpoint-down(md) {
        font-size: fontSize("nr")-2;
    }
    .block-element{
        margin-bottom: 10px;
        display: block !important;
        white-space: nowrap;
    }

    .table{
        margin-bottom: 40px;

        thead > tr > th, 
        tbody > tr > td {
            padding-left: 20px !important;
        }

        thead{
            font-weight: 500;
            th{
                font-weight: 500;
                color: color("base");
            }
        }
        tbody{
            font-weight: 400;
            color: color("colorBlack");
        }

        td,th{
            border-top: 0px;
        }
        th{
            border-bottom: 1px solid color('border');
        }

        
        
        .doc-name{
            padding-left: 25px;
            position: relative;
            display: block;
            max-width: 450px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        
            .fa-file{
                position: absolute;
                top: 0px;
                left: 5px;
                color: color("light-purple");
                @include media-breakpoint-down(lg) {
                    top: 2px;
                }
            }
        }

        .link-filename {
            max-width: 350px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
            @include media-breakpoint-down(md) {
                max-width: 310px;
            }
        }
    } 

    @include mobile {
        padding: 20px;
        padding-top: 5px;
    }

    .uploaded-doc-list-mobile {
        border: 1px solid color("border");
        padding: 15px;
        background: color('colorWhite');
        margin-bottom: 10px;
        padding-left: 40px;
        position: relative;
        &:last-child {
            margin-bottom: 0;
        }

        .udl-m-icon-wrap {
            position: absolute;
            left: 15px;
            em {
                font-size: fontSize("xmd")-1;
                color:color("light-purple")
            }
        }
        .doc-name {
            font: 400 #{fontSize('nr')+'/1'} fontFamily('base'); 
            color: color("colorBlack");  
            margin-bottom: 10px;
            padding-top: 2px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        .m-doc-filename {
            a {
                
            font: 400 #{fontSize('sm')+'/1.3'} fontFamily('base'); 
            color: color("primary");
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            display: block;
            }  
            margin-bottom: 13px;
        }
        .m-doc-date-wrap {
        .m-doc-date{
            font: 400 #{fontSize('sm')+'/1'} fontFamily('base'); 
            color: color("base");  
        }
    }
    }
}