#IconGetStarted{
    width: rem(15.943px);
    height: rem(20px);
}

#IconGetToKnow{
    width: rem(23.687px);
    height: rem(21.056px);
}

#IconNewMortgage{
    width: rem(21.799px);
    height: rem(21px);
}

#IconMyMoney{
    width: rem(28.657px);
    height: rem(27.723px);
}

#IconProperties{
    width: rem(20.181px);
    height: rem(20px);
}

#IconFinishingUp{
    width: rem(20px);
    height: rem(20px);
}

#IconGovtqts{
    width: rem(19.485px);
    height: rem(21px);
}

#IconReview{
    width: rem(24.614px);
    height: rem(21px);
}

#IconSearch{
    width: rem(15.447px);
    height: rem(16px);
}
#LoSvgLogo{
    width: rem(74.596px);
    height: rem(65.455px);
}
#IconPhone{
    width: rem(15.966px);
    height: rem(16px);
}
#IconEmail{
    width: rem(17.455px);
    height: rem(12px);
}
#IconWeb{
    width: rem(15.999px);
    height: rem(16px);
}
#IconTick{
    width: rem(14.205px);
    height: rem(11.03px);
}
#IconPurchaseProperty{
    width: rem(69.542px);
    height: rem(60px);
}
#IconRefinanceMortgage{
    width: rem(67.389px);
    height: rem(63px);
}
#IconPUC{
    width: rem(49.953px);
    height: rem(60px);
}
#IconPreApproval{
    width: rem(56.136px);
    height: rem(60px);
}
#IconTerm{
    width: rem(68.853px);
    height: rem(60.001px);
}
#IconCashOut{
    width: rem(67.389px);
    height: rem(63px);
}
#IconDebtConsolidation{
    width: rem(62.556px);
    height: rem(67px);
}
#IconEyeCross{
    width: rem(25px);
    height: rem(18.348px);
}
#IconEye{
    width: rem(25px);
    height: rem(17.155px);
}
#ReviewSingleApplicantIcon{
    width: rem(40px);
    height: rem(32px);
}
#ReviewCoApplicantIcon{
    width: rem(40px);
    height: rem(32px);
}
#ReviewHomeIcon{
    width: rem(40px);
    height: rem(32px);
}
#EditIcon{
    width: rem(16px);
    height: rem(16px);
}
#DeleteIcon{
    width: rem(16.25px);
    height: rem(20px);
}
#LockIcon{
    width: rem(18px);
    height: rem(24px);
}
#AgreeHeadingIcon{
    width: rem(20px);
    height: rem(20px);
}
#AddressHomeIcon{
    width: rem(21.743px);
    height: rem(19px);
}
#IconView{
    width: rem(21.809px);
    height: rem(13px);
}
#AddCoAppIcon{
    width: rem(67.389px);
    height: rem(63px);
}
#SinglePropertyIcon{
    width: rem(38px);
    height: rem(34.1px);
}
#DatePickerIcon{
    width: rem(20px);
    height: rem(20px);
}
#IncomeAddIcon{
    width: rem(20px);
    height: rem(20px);
}
#IconEmployment{
    width: rem(34.575px);
    height: rem(30.448px);
}
#IconSelfEmployment{
    width: rem(25.693px);
    height: rem(37.199px);
}
#IconBusiness{
    width: rem(35.626px);
    height: rem(30.449px);
}
#IconMilitaryPay{
    width: rem(34.526px);
    height: rem(42.281px);
}
#IconRetirement{
    width: rem(33.93px);
    height: rem(36.444px);
}
#IconRental{
    width: rem(45.195px);
    height: rem(36px);
}
#IconOther{
    width: rem(43px);
    height: rem(43px);
}
#IconSingleFamilyProperty{
    width: rem(38px);
    height: rem(34.1px);
}
#IconTownhouse{
    width: rem(38.775px);
    height: rem(35.861px);
}
#IconCondominium{
    width: rem(38px);
    height: rem(37.628px);
}
#IconCooperative{
    width: rem(47.203px);
    height: rem(38.335px);
}
#IconDuplex2Unit{
    width: rem(47.203px);
    height: rem(38px);
}
#IconManufacturedHome{
    width: rem(45.195px);
    height: rem(36px);
}
#IconTriplex3Unit{
    width: rem(45.195px);
    height: rem(36px);
}
#IconQuadplex4Unit{
    width: rem(47.203px);
    height: rem(38.335px);
}
#IconInvestmentProperty{
    width: rem(38px);
    height: rem(34.1px);
}
#IconResearchingLoanOptions{
    width: rem(56.035px);
    height: rem(61px);
}
#IconGoingToOpenHouse{
    width: rem(69.542px);
    height: rem(60px);
}
#DropdownEdit{
    width: rem(18px);
    height: rem(18px);
}
#DropdownDelete{
    width: rem(18px);
    height: rem(18px);
}
#PaidSalaryIcon{
    width: rem(36.401px);
    height: rem(39px);
}
#PaidHourlyIcon{
    width: rem(42.234px);
    height: rem(40px);
}
#SocialSecurityIcon{
    width: rem(28.204px);
    height: rem(34.351px);
}
#PensionIcon{
    width: rem(31.472px);
    height: rem(40.65px);
}
#IRAIcon{
    width: rem(38.07px);
    height: rem(37.436px);
}
#OtherIncomeIcon{
    width: rem(35.707px);
    height: rem(34.212px);
}
#OiFamilyIcon{
    width: rem(23.631px);
    height: rem(18px);
}
#OiInvestmentsIcon{
    width: rem(17.997px);
    height: rem(17.997px);
}
#OiHousingIcon{
    width: rem(21.421px);
    height: rem(19.05px);
}
#OiGovernmentIcon{
    width: rem(21.032px);
    height: rem(22.674px);
}
#OiMiscellaneousIcon{
    width: rem(17.997px);
    height: rem(17.997px);
}
#ToRightArrowIcon{
    width: rem(11.581px);
    height: rem(9px);
}
#MoreIcon{
    width: rem(32px);
    height: rem(32px);
}
#FreelancerIcon{
    width: rem(36.753px);
    height: rem(38px);
}