# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.UDFCodeGenerator.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\work\Rainmaker2\Rainmaker2\tools\UDFCodeGenerator\.idea\.idea.UDFCodeGenerator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
