// @include scrollbar();
@mixin scrollbar($w: 6, $h: 6) {
  scrollbar-color: color('scroll');
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px color('scroll');
     -webkit-box-shadow: inset 0 0 0px color('scroll');
      background-color:color('colorWhite');
      
  }
  &::-webkit-scrollbar {
      width: #{$w + "px"};
      background-color: color('colorWhite');
  }
  &::-webkit-scrollbar-thumb {
      background-color: color('scroll');
  }
}