// @include box-sizing(border-box);
@mixin scrollbar($w: 11, $h: 11) {
  scrollbar-color: color('scroll');
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px color('scroll');
     -webkit-box-shadow: inset 0 0 0px color('scroll');
      background-color:color('scroll');
      
  }
  &::-webkit-scrollbar {
      width: #{$w + "px"};
      background-color: color('colorWhite');
  }
  &::-webkit-scrollbar-thumb {
      background-color: color('scroll');
  }
}