
.main-layout {
    height: 100%;
    background: color('bg');
    width: 100%;
    .home-layout {    
        min-height:calc(100vh - 85px);
        .block{
            margin-bottom: 0;
            box-shadow: 0 0 3px rgba(0,0,0,0.3);
        }

        .block.padding{
            padding: 30px 15px;
        }
    }
    .vertical-tabs--content .vertical-tabs--body{
        @include headings{ 
            color: color('base');
            font:  400 #{fontSize("sm") + "/1.2"} fontFamily("base");
        }
    }
}

#sidebar + .main-layout {
    margin-left: 48px;
    width: calc(100% - 49px);
}



// Dashboard
.d-layout{
    display: flex;
    position: relative;

}// .d-layout