body {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
}

.clearfix {
  &::before,
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

.flex {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;
}

.btn-notify {
  border: 0;
  background-color: transparent;
  font-size: fontSize('lg') - 2px;
  color: color('primary-text');
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
  padding: 14px 20px;
  display: inline-block;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

.notify {
  font: 500 #{fontSize('nr') + '/17px'} fontFamily('base');
  position: relative;
  margin: 0 5px;

  &-loading{
    display: block;
    position: relative;
    height: #{$loader-res * 1.5 + 'px'};
    
    &--circle,
    &--circle-bold{
      width: #{$loader-res+'px'};
      height: #{$loader-res+'px'};
      border-radius: 50%;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      //@include transform(translate(-50%,-50%));
    }
    &--circle{
      border: 1px solid color('primary');
    }
    &--circle-bold{
      border:2px solid color('primary');
      border-color: #fff transparent transparent transparent;
      animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    }
  }

  &-counts {
    display: inline-block;
    background: #ff5652;
    color: #fff;
    border-radius: 35px;
    font: 500 #{fontSize('xs') + '/1'} fontFamily('base');
    padding: 4px 6px;
    position: absolute;
    top: 8px;
    right: 2px;
  }

  &-alert-msg {
    height: calc(100% - 50px);
    width: 100%;
    @extend .flex;
    justify-content: center;
    text-align: center;
    font: 400 #{fontSize('nr') + '/1.2'} fontFamily('base');
    color: color('base');
    padding: 45px 20px 95px 20px;
    background: rgba(#fff,0.9);
    position: absolute;
    z-index: 9;
    top: 50px;
    left: 0;

    h4 {
      font-weight: 400;
      color: #000;
      margin-bottom: 5px;
      font: 400 #{fontSize('nr') + '/1.2'} fontFamily('base');
    }

    &--wrap {
      margin-top: -25%;
    }
  }

  &-tigger-area {
    @extend .clearfix;
    text-align: right;
  }

  &-btn-clear {
    background-color: transparent;
    border: none;
    font: 400 #{fontSize('sm') + '/17px'} fontFamily('base');
    img {
      margin-left: 5px;
    }
  }

  &-dropdown {
    position: fixed;
    width: 410px;
    right: 0;
    top: 50px;
    height: calc(100vh - 39px);
    box-shadow: $shadow;
    background-color: color('bgColor');
    @include transition(all 0.5s ease-out);
    z-index: 9;

    .btn-notify {
      display: inline-block;
      padding: 8px 30px;
      outline: 4px solid #fff !important;
      font: 500 #{fontSize('sm') + '/1.2'} fontFamily('base');
      background-color: color('primary');
      text-transform: uppercase;
      min-width: 85px;

      &.secondry {
        background-color: color('secondry');
      }
    }
  }

  &-header {
    padding: 15px;
    background-color: color('primary');
    color: color('primary-text');
    @extend .flex;
    h2 {
      font: 500 #{fontSize('nr') + '/1.2'} fontFamily('heading');
      margin: 0;
      text-transform: uppercase;
    }
    button,
    a {
      color: color('primary-text');
      cursor: pointer;
    }
  }

&-content {
  height: 100%;
}
  &-body {
    max-height: calc(100% - 50px);
    overflow: auto;
    @include scrollbar(10, 10);
    .InfiniteScroll {
      overflow: initial;
    }

    .infinite-scroll-component {
      //max-height: calc(100% - 50px) !important;
    }
  }


  &.open {
    .notify-dropdown {
      right: 0;
    }
  }
}

.notify-toast {
  
  display: flex;
  justify-content: center;
  &-alert{
    background:color("primary");
    position: absolute;
    z-index: 78858;
    padding: 10px 20px;
    top: 60px;
    color: color("primary-text");
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0px 5px 10px rgba(color('colorBlack'), 0.30);
    font: 400 #{fontSize('nr') + '/1.2'} fontFamily('heading');

  }
}

.animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@keyframes slideInRight {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes slideOutRight {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes slideOutRight {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

.slideOutRight {
  -webkit-animation-name: slideOutRight;
  animation-name: slideOutRight;
}


@-webkit-keyframes rotate{
  from{
    @include transform(rotate(0deg) translate(-50%,-50%));
  }
  to{
    @include transform(rotate(360deg) translate(-50%,-50%));
  }
}

@keyframes lds-ring{
  from{
    @include transform(rotate(0deg));
  }
  to{
    @include transform(rotate(360deg));
  }
}

.rotate {
  -webkit-animation:0.5s rotate infinite;
  animation:0.5s rotate infinite;
}