/* add css module styles here (optional) */ 

/* @import './Layout/Rainmaker2.0/Header/Header.css'; */

// p{
//   color: red;
// }

.test {
  margin: 2em;
  padding: 0.5em;
  border: 2px solid #000;
  font-size: 2em;
  text-align: center;
}

.mainfooter {
  background-color: red;
  width: 200px;
}
.copyrightText,h2 {
  color: green;
  width: 200px;
}

