
.c-WorkbenchView {
.wb-head {
    border-bottom: 1px solid color('border');
    padding-top: 30px;
    padding-bottom: 10px;
    h2 {
        font: 500 #{fontSize("h2") + "/1.2"} fontFamily("base");
        color: color('heading');
        margin-bottom: 0;
        padding-left: 30px;
        text-transform: uppercase;
    }
}

.dm-workbenchTable {

    .dm-wb-thead {
        padding: 20px 30px 10px 30px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        font: 500 #{fontSize("nr") + "/1"} fontFamily("base");
        color: color('base');
        align-items: center;
        border-bottom: 1px solid color("border");
        margin-bottom: 10px;
        &-left {
            width: 100%;
        }

    }

    .isDragging-wrap {
        padding: 0px 13px; 
    }

    .dm-wb-tbody {
        padding: 0px 13px; 
        overflow: auto;
        max-height: 220px;
        min-height: 220px;
        @include scrollbar(6,6);
        .dm-wb-doc-list {
            position: relative;
        }
    }

}

}

