
.c-WorkbenchView {
    overflow: hidden;
.wb-head {
    border-bottom: 1px solid color('border');
    padding-top: 10px;
    padding-bottom: 10px;
    &.wbcollaps {border-bottom: 0px solid color('border');}
    h2 {
        font: 500 #{fontSize("h2") + "/1.2"} fontFamily("base");
        color: color('heading');
        margin-bottom: 0;
        padding-left: 13px;
        text-transform: uppercase;
        cursor: pointer;
        svg {
            margin-top: -3px;
        }
    }
}

.dm-workbenchTable {
position: relative;
    .dropwarp{
        position:absolute; left: 0; right: 0; top: 0; bottom: 0; z-index: 100; border: 2px dashed color('primary'); 
        display: flex; justify-content: center; align-items: center; background:rgba(color('colorWhite'),0.5);
        span{
            color: color('primary'); pointer-events: none;
            font: 400 #{fontSize("nr") + "/1"} fontFamily("base");
            margin: 0;
        }
        * {
            // pointer-events: none;    
        }
    }

    .dm-wb-thead {
        padding: 20px 30px 10px 30px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        font: 500 #{fontSize("nr") + "/1"} fontFamily("base");
        color: color('base');
        align-items: center;
        border-bottom: 1px solid color("border");
        margin-bottom: 10px;
        &-left {
            width: 100%;
        }

    }

    .isDragging-wrap {
        padding: 0px 13px; 
    }

    .dm-wb-tbody {
        padding: 0px 13px; 
        overflow: auto;
        max-height: calc(45vh - 161px);
        min-height: calc(45vh - 161px);
        // min-height: 220px;
        @include scrollbar(6,6);
        &.freeze {
            overflow: hidden; 
        }

    }

}

}


