body {
    background: color("bg");
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    font-family: fontFamily("heading");
    color: color("base");
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}
.d-layout {
    background-color: color('sidebarBg');
}
.sidebar  {
    background-color: color('sidebarBg');
    color: color('sidebarBg-text');
    width: 70px;
    min-height: calc(100vh - 60px);
    overflow: hidden;
    position: absolute;
    z-index: 25;
    left: 0;
    .menu-text {
        display: none;
    }
}

.sidebar-menu {
    padding-top: 15px;
    text-align: center;
    .sidebar-main-ul {
        border-bottom: 1px solid color('sidebarboder');
        > li {
            &:first-child { 
                border-top: 1px solid color('sidebarboder'); 
            }
            &:last-child { 
                > a{ 
                    border-bottom: 1px solid color('colorBlack');
                } 
            }
            > a {
                padding-top: 8px;
                padding-bottom: 8px;
                display: block;
                border-top: 1px solid color('colorBlack');
            }
        }
        a {
            color: color('sidebarBg-text');
        }
    }
}

li.has-sub > .sub {
    display: none;
}

.box-wrap {
    box-shadow: $shadow;
    padding: 20px;
    font: 400 #{fontSize("nr") + "/17px"} fontFamily("base");
    margin-bottom: 15px;
    background: color("colorWhite");

    &--header {
        display: block;
        margin-bottom: 5px;

        h2 {
            font: 500 #{fontSize("md") + "/1.2"} fontFamily("heading");
            text-transform: uppercase;
            color: color("base");
            margin-top: 0;
        }

        p {
            margin: 0px;
        }
    }
    .nav-collapse {
        text-align: center;
    }
}

// .box-wrap
.list-style-none {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list {
    @extend .list-style-none;
    margin: 26px 0;
    font:400 #{fontSize("nr") + "/" + fontSize("nr")} fontFamily("base");

    @include media-breakpoint-down(md) {
        font-size: fontSize("nr")-1;
    }

    >li {
        margin-bottom: 23px;
        position: relative;
        padding-left: 20px;
        color: color('colorBlack');
        text-transform: capitalize;

        &::before {
            content: "";
            width: 6px;
            height: 6px;
            display: block;
            background-color: color("primary");
            border-radius: 50%;
            position: absolute;
            left: 0;
            top: 2px;
        }
    }
}

.tt-svg {
    display: inline-block;
    vertical-align: middle;
}

.btn-primary {
    //@include button-variant(color('primary'), $border, $hover-background: darken($background, 7.5%), $hover-border: darken($border, 10%), $active-background: darken($background, 10%), $active-border: darken($border, 12.5%));
}

.btn {
    border-radius: 0px;
    font: 500 #{fontSize("nr") + "/1.2"} fontFamily("base");
    padding: 14px 35px 12px;
    text-transform: uppercase;
    letter-spacing: 1.4px;

    &.disabled,
    &:disabled {
        color: color('disabled-text');
        background-color: color('disabled');
        border-color: color('disabled');

    }

    &.btn-small {
        font: 500 #{fontSize("xs") + "/1.2"} fontFamily("base");
        padding: 9px 20px 7px;
    }


}


.DocumentStatus .btn {
    border-radius: 0px;
    font: 500 #{fontSize("nr") + "/1.2"} fontFamily("base");
    padding: 13px 20px;
    // min-width: 86px;
    text-transform: uppercase;

    em,
    i {
        position: relative;
        padding-left: 30px;

        &::after {
            content: "";
            display: inline-block;
            width: 1px;
            height: 20px;
            background-color: rgba(color('colorBlack'), 0.2);
            position: absolute;
            top: -3px;
            left: 15px;
        }
    }
    
    .has-sub {
        .sub {
            display: none;
        }
    }
}

.button-float {
    background-color: color('colorWhite');
    color: color('base');
    border: none;
    box-shadow: 0 0 5px rgba(color('colorBlack'), 0.2);
    margin: 5px;
    width: $float-button-size;
    height: $float-button-size;
    border-radius: 50%;
    text-align: center;
    line-height: $float-button-size;
    padding: 0;
    @include transition(all 0.5s ease-out);

    svg {
        height: ceil(35 * $float-button-size / 100); //12px;
        @include transition(all 0.5s ease-out);

        path {
            fill: color('base');
            stroke: color('base');
            opacity: 0.8;
            @include transition(all 0.5s ease-out);
        }
    }

    &:focus,
    &:visited,
    &:hover {
        outline: none;
    }

    &:hover {
        background-color: darken(color('colorWhite'), 20%);
    }
}

.main-layout {
    margin-left: 70px;
    height: 100%;
    background: color('bg');
}

.home-layout {
    min-height: calc(100vh - 120px);
}

.block-element {
    display: block !important;
}

.inline-block-element{
    display: inline-block !important;
    &.top{
        vertical-align: top;
    }
    &.middle{
        vertical-align: middle;
    }
    &.bottom{
        vertical-align: bottom;
    }
}

.loader {
    text-align: center;
    height: 100%;
    box-shadow: $shadow;

    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .bg {
        background: color("colorWhite");
    }
}

.document-view {
    .loader {
        circle {
            stroke: #000;
        }
    }
}

.no-document {
    min-height: 500px;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    &--wrap {}

    &--img {
        margin-bottom: 10px;
    }

    &--text {}
}

.mcu-label{
    display: block;
    font: 400 #{fontSize('sm')+'/'+fontSize('sm')} fontFamily('base') ;
    text-transform: uppercase;
    color:color('labelColor');

    &-value{
        display: block;
        font: 500 #{fontSize('nr')+'/1.4'} fontFamily('base') ;
        color:color('labelValueColor');
        
        &.plus{
            font: 500 #{fontSize('lg')+'/'+fontSize('lg')} fontFamily('base') ;
        }

        sup {
            top: -6px;
            font: 500 #{fontSize('sm')+'/'+fontSize('sm')} fontFamily('base') ;
            margin: 0 3px;
        }
    }
}

.main-footer {
    text-align: center;
}

