body {
    background: color("bg");
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    font-family: fontFamily("heading");
    color: color("base");
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

a,button{
    &:focus{
        outline: none;
    }
}

ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

.box-wrap {
    box-shadow: $shadow;
    padding: 20px;
    font: 400 #{fontSize("nr") + "/17px"} fontFamily("base");
    margin-bottom: 15px;
    background: color("colorWhite");

    &--header {
        display: block;
        margin-bottom: 5px;

        h2 {
            font: 500 #{fontSize("md") + "/1.2"} fontFamily("heading");
            text-transform: uppercase;
            color: color("base");
            margin-top: 0;
        }

        p {
            margin: 0px;
        }
    }

    .nav-collapse {
        text-align: center;
    }
}

// .box-wrap
.list-style-none {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list {
    @extend .list-style-none;
    margin: 26px 0;
    font:400 #{fontSize("nr") + "/" + fontSize("nr")} fontFamily("base");

    @include media-breakpoint-down(md) {
        font-size: fontSize("nr")-1;
    }

    >li {
        margin-bottom: 23px;
        position: relative;
        padding-left: 20px;
        color: color('colorBlack');
        text-transform: capitalize;

        &::before {
            content: "";
            width: 6px;
            height: 6px;
            display: block;
            background-color: color("primary");
            border-radius: 50%;
            position: absolute;
            left: 0;
            top: 2px;
        }
    }
}

.tt-svg {
    display: inline-block;
    vertical-align: middle;
}
.btn {
    border-radius: 0px;
    font: 500 #{fontSize("nr") + "/1.2"} fontFamily("base");
    padding: 14px 35px 12px;
    text-transform: capitalize;
    letter-spacing: 1.4px;

    &.disabled,
    &:disabled {
        color: color('disabled-text');
        background-color: color('disabled');
        border-color: color('disabled');

    }

    &-default {
        background-color: color('default');
    }

    &-back {}

    &-secondry {
        @include button-variant(color('secondry'), color('secondry'), $hover-background: darken(color('secondry'), 7.5%), $hover-border: darken(color('secondry'), 10%), $active-background: darken(color('secondry'), 10%), $active-border: darken(color('secondry'), 12.5%));
    }

    &-sm,
    &-group-sm>& {
        padding: 6px 15px;
        font: 400 #{fontSize("sm")+"/1.2"} fontFamily("base");
        line-height: 1.5;
        border-radius: 0;
    }

    &-delete {
        color: $danger;
    }

    &-icon-right{
        border-left: 1px solid darken($color: color('primary'), $amount: 10%);
        padding-left: 10px;
        margin-left: 6px;
    }

    &:hover,
    &:focus{
        .rotate-plus{
            &::before{
                transform: rotate(45deg);
            }
            &::after{
                transform: rotate(45deg);
            }
        }
        &-icon-right{
            border-left: 1px solid darken($color: color('primary'), $amount: 50%);
        }
    }


}//.btn

.icon-refresh {
    &::before{
        color: color('statusDefault');
    }
    &.failed {
        &::before {
            color: $danger;
        }
    }

    &.success {
        &::before {
            color: $success;
        }
    }
}

.status-bullet {
    background-color: color('default');
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;

    &.pending {
        background-color: color('pending');
    }

    &.started {
        background-color: color('started');
    }

    &.borrower {
        background-color: color('borrower');
    }

    &.completed {
        background-color: color('completed');
    }
}
.button-float {
    background-color: color('colorWhite');
    color: color('base');
    border: none;
    box-shadow: 0 0 5px rgba(#000000, 0.2);
    margin: 5px;
    width: $float-button-size;
    height: $float-button-size;
    border-radius: 50%;
    text-align: center;
    line-height: $float-button-size;
    padding: 0;
    @include transition(all 0.5s ease-out);

    svg {
        height: ceil(35 * $float-button-size / 100); //12px;
        @include transition(all 0.5s ease-out);

        path {
            fill: color('base');
            stroke: color('base');
            opacity: 0.8;
            @include transition(all 0.5s ease-out);
        }
    }

    &:focus,
    &:visited,
    &:hover {
        outline: none;
    }

    &:hover {
        background-color: darken(#ffffff, 20%);
    }
}

.block-element {
    display: block !important;
}

.inline-block-element {
    display: inline-block !important;

    &.top {
        vertical-align: top;
    }

    &.middle {
        vertical-align: middle;
    }

    &.bottom {
        vertical-align: bottom;
    }
}

.loader {
    text-align: center;
    height: 100%;
    box-shadow: $shadow;

    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .bg {
        background: color("colorWhite");
    }
}

.mcu-label {
    display: block;
    font: 400 #{fontSize('sm')+'/'+fontSize('sm')} fontFamily('base');
    text-transform: uppercase;
    color: color('labelColor');

    &-value {
        display: block;
        font: 500 #{fontSize('nr')+'/1.4'} fontFamily('base');
        color: color('labelValueColor');

        &.plus {
            font: 500 #{fontSize('lg')+'/'+fontSize('lg')} fontFamily('base');
        }

        sup {
            top: -6px;
            font: 500 #{fontSize('sm')+'/'+fontSize('sm')} fontFamily('base');
            margin: 0 3px;
        }
    }
}

.block {
    background-color: color('widgetBg');
    margin-bottom: $widget-space;

    &.padding {
        padding: 30px;
    }
}

.main-footer {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    p {
        margin-bottom: 0;
    }
}

.container-mcu {
    padding-left: 30px;
    padding-right: 30px;
}


// Table
.table {
    display: table;
}
.td,
.th {
    display: table-cell;
}
.tr {
    display: table-row;
}
.table-responsive {
    padding: 5px;
}

.mcu-dropdown-toggle {
    
    & + .dropdown-menu,
    .dropdown-menu{
        width: 260px;
        border-radius: 0px;
        font-family: fontFamily('heading');
        font-size: fontSize('sm') - 1px ;
        font-weight: 400;
        
        &.padding{
            padding: 20px;
        }

        h2 {
            font-family: fontFamily('heading');
            font-size: fontSize('nr') - 1px ;
            font-weight: 500;
            text-transform: uppercase;
            margin-bottom: 22px;

        }
        h3 {
            font-family: fontFamily('heading');
            font-size: fontSize('sm') - 1px ;
            font-weight: 500;
            text-transform: uppercase;
            margin-bottom: 10px;
        }

        input{
            vertical-align: middle;
            &[type=checkbox]{
                width: 10px;
                transform: translateY(-1px);
            }
        }

        label{
            vertical-align: middle;
            line-height: 1;
        }

        .checklist{
            @extend .list-style-none;
            margin-bottom: 25px;
        }

        .external-link{
            font-family: fontFamily('base');
            font-size: fontSize('sm');
            font-weight: 500;
        }
    }

    &.no-caret{
        &::after{
            display: none;
        }
    }

    &:focus {
        &+.dropdown-menu {
            display: block;
        }
    }
}// .dropdown-toggle

// Rotate Plus
.rotate-plus{
    width: $rotate-plus-resolution;
    height: $rotate-plus-resolution;
    position: relative;
    display: inline-block;
    vertical-align: middle;

    &::before,
    &::after{
        content: "";
        position: absolute;
        background-color: color('primary-text');
        @include transition(all 0.06s ease-out);
    }

    &::before{
        height: $rotate-plus-resolution;
        width: 1px;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    &::after{
        width: $rotate-plus-resolution;
        height: 1px;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }

}//rotate-plus

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 15px;
    vertical-align: middle;

    input {
        opacity: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;

        &:checked+.slider {
            //background-color: #2196F3;
        }

        &:focus+.slider {
            box-shadow: 0 0 1px color('primary');
        }

        &:checked+.slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
            background-color: color('primary');
        }
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: lighten($color: color('toggleDefaultKnob'), $amount: 10%);
        -webkit-transition: .4s;
        transition: .4s;

        &::before {
            position: absolute;
            content: "";
            height: 22px;
            width: 22px;
            left: 0;
            top: -4px;
            transition: .4s;
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
            background-color: color('toggleDefaultKnob');
            -webkit-transition: .4s;
            transition: .4s;
        }

        &.round {
            border-radius: 34px;

            &:before {
                border-radius: 50%;
            }
        }
    }
}//   .switch

.loader-widget{
    padding: 30px;
    text-align: center;
    justify-content: center;
}
