.mcu-panel{

    &-header{
        background-color: color('widgetBg');
        color: color('widgetText');
        padding: 15px 30px;
        border-bottom:1px solid color('border');
        min-height: 66px;
        @include headings{ 
            margin: 0; 
            line-height: 2.4;
            @extend .text-ellipsis;
        }
                
        &--left{

        }

        &--right{
            text-align: end;
            .btn-close{
                font-size: fontSize('lg');
                padding: 10px 20px;
                line-height: 1;
                height: 44px;
            }
        }

    }

    &-body{
        background-color: color('widgetBg');
        border-bottom:1px solid color('border');

        &.padding{
            padding: 30px;
            min-height: calc(100% - 135px);
        }

        > .row{
            margin: 0;
        }

        &--col{
            & + .mcu-panel-body--col{
                border-left: 1px solid color('border');
            }
        }

        &--content{
            padding: 0;
            .document-view--header---options{
                ul{
                    li:last-child{
                        display: none;
                    }
                }
            }
            .mcu-panel-body.padding{
                min-height: 70vh;
            }
        }
        &--aside{
            background-color: color('ReviewDocumentSidebarBg');
            color: color('ReviewDocumentSidebarText');
            padding: 0;
            height: 100%;
        }
    }

    &-footer{
        padding: 15px 30px;
        //border-bottom:1px solid color('border');
        min-height: 66px;
        margin-bottom: 0;
        
        &.alert{
            padding: 23px 30px;
        }
    }

    .no-preview{
        min-height: calc(100vh - 180px);
        background-color: color('widgetBg');
    }

}