
.main-layout {
    height: 100%;
    background: color('bg');
    width: 100%;
    &.hascollapssidebar{
        margin-left: 50px;
        width: calc(100% - 50px);
    }
}

.home-layout {
    min-height: calc(100vh - 120px);
}

// Dashboard
.d-layout{
    display: flex;
    position: relative;

}// .d-layout