
.main-layout {
    height: 100%;
    background: color('bg');
    width: 100%;
    overflow: hidden;
    &.hascollapssidebar{
        margin-left: 48px;
        width: calc(100% - 49px);
        .home-layout {
    
            min-height:calc(100vh - 103px);
        }
    }
}



// Dashboard
.d-layout{
    display: flex;
    position: relative;

}// .d-layout