.need-list-table{
    border-spacing:2px 8px;
    padding:0;
    position:relative;

    thead{
        border: none;
        th,td{
            font-weight:  500;
            font-size: fontSize("nr") - 1px; 
            line-height: 1.2;
            font-family: fontFamily("base");
            border: none;
            text-transform: uppercase;
            color: color('heading');
            a{
                color: color('heading');
            }
        }
    }

    .tr{
        .td{
            padding: 10px; 
            &:last-child{
                padding: 10px;
            }
            .block-element{
                &:last-child{
                   height: auto;
                }
            }
        }



        .th:nth-child(2),
        .td:nth-child(2){
            white-space: nowrap;
        }

        .th:first-child,
        .td:first-child{
            width: 40%;
            min-width: 200px;
        }

        >.th:last-child,
        >.td:last-child{
            width: 150px;
            white-space: nowrap;
        }
        
    }

    .th,.td{
        padding: 10px;
        position: relative;
        z-index: 9;
        min-width: 150px;
    }

    .th{
        font-weight:  500;
        font-size: fontSize("nr") - 1px; 
        line-height: 1.2;
        font-family: fontFamily("base");
        border: none;
        text-transform: uppercase;
        color: color('heading');
        white-space: nowrap;
        a{
            color: color('heading');
        }
    }

    .row-shadow{
        //&::before{
            box-sizing: border-box;
            //content:'';
           // position:absolute;
            /* do not use top and bottom */
            //left:0;
            //right:2px;

           // display: block;
           // height: calc(100% - 10px);
            box-shadow:0 0px 6px 0px rgba(0, 0, 0, 0.06);
            -webkit-box-shadow: 0 0px 6px 0px rgba(0, 0, 0, 0.06);
            z-index: 2;
        //}
    }
    
    tbody{
        th,td{
            font:  400 #{fontSize("sm") + "/1.2"} fontFamily("base");
            border: none;
        }
        >tr{
            box-shadow: 0 0 3px rgba($color: #000000, $alpha: 0.2);
        }
    }

    .td{
        font:  400 #{fontSize("sm") + "/1.2"} fontFamily("base");
        border: none;
    }

    .f-normal{
        font-size: fontSize("nr");
        strong{
            font-weight: 500;
        }
    }

    .block-element{
        //margin-bottom: 10px;
        height: 26px;
        overflow: hidden;
        &-child{
            display: block;
        }
    }

    .icon-refresh{
        font-size: fontSize('md');
        display: inline-block;
        vertical-align: middle;
    }

    .table-th-arrow{
        color: lighten($color: color('primary'), $amount: 6%);
    }
}

