.need-list-view-header{
    display: flex;
    justify-content: space-between;

    .h2{
        font: 500 21px/1.2 fontFamily("base");
        padding-right: 15px;
    }

    &--left{

    }

    &--right{

    }

}// need-list-view-header