.need-list-view-header{
    display: flex;
    justify-content: space-between;

    .h2{
        font: 500 21px/1.2 fontFamily("base");
        padding-right: 40px;
    }

    &--left{
        .btn-sm{
            padding: 8px 15px;
        }
    }

    &--right{

    }

}// need-list-view-header