.need-list-header{
    @extend .container-mcu;
    padding-top: 30px;
    padding-bottom: 30px;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--left{
        
    }
    &--right{
        text-align: right;
    }

    .btn-back{
        color: color('primary');
        padding-left: 0;
    }

    .btn{
        
    }
}