.need-list-header{
    @extend .container-mcu;
    padding-top: 30px;
    padding-bottom: 30px;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mobile{
        display: block;
    }

    &--left{
        .btn-back{
            em{
                font-size: fontSize('nr') + 2px;
            }
        }
    }
    &--right{
        text-align: right;

        .btn{
            vertical-align: middle;
            padding: 12px 20px;
            & + .btn{
                margin-left: 8px;
            }
        }
    }

    .btn-back{
        color: color('primary');
        padding-left: 0;
        font-weight: normal;
    }

    .btn{
        
    }
}


@media (max-width:525px){
    .need-list-header--right .btn + .btn{
        margin-left: 0;
        
    }
    .need-list-header--right .btn {
        margin-bottom: 5px;
    }
}