.rainmaker-header{
    background-color: color('headerBg');
    color: color('headerBg-text');
    padding: 2px 0;
    .logo{
        display: inline-block;
        vertical-align: middle;
        img{
            min-height: 35px;
        }
    }
    > .container-fluid {
        padding-left: 10px;
        padding-right: 10px;
    }
    .header-options {
        text-align: right;
    }
}

.burger-menu{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    padding: 10px 11px;
    border-top: 1px solid rgba(225,225,225,0.2);
    border-bottom: 2px solid rgba(0,0,0,0.3);
    margin-left: -5px;
    cursor: pointer;
    & + .logo{
        margin-left: 15px;
    }
}
.mcu-icon-burger,
.mcu-icon-burger::before,
.mcu-icon-burger::after{
    width: $burger-resolution;
    height: ceil($burger-resolution / 8);
    background-color: #fff;
    display: block;
}
.mcu-icon-burger::before,
.mcu-icon-burger::after{
    content: "";
    position: absolute;
}
.mcu-icon-burger::before{
    top: -5px;
}
.mcu-icon-burger::after{
    bottom: -5px;
}
.mcu-icon-burger{
    position: relative;
}
