.review-document{

    &-header{
        background-color: color('ReviewDocumentHeaderBg');
        color: color('ReviewDocumentHeaderText');
        padding: 15px;

        &--left{

        }
        &--center{

        }
        &--right{
            text-align: end;
        }
    }

    &-body{
        &--content{

        }
        &--aside{

        }
    }

}