.document-statement{
    padding: 0;
    height: calc(100vh - 116px);
    overflow-y: auto;

    &--header{
        border-top:1px solid color('border');
        border-bottom:1px solid color('border');
        padding: 20px 15px;
        > *{
            margin: 0;
        }
    }

    &--body{
        padding: 20px;
    }    

    h2{
        font:500 #{fontSize("xmd") + "/" + fontSize("xmd")} fontFamily("base");
    }

    h3{
        font:500 #{fontSize("md") + "/" + fontSize("md")} fontFamily("base");
    }

    .activity-logs-icon{
        font-size: fontSize('lg');
    }
}