.password-help{
    width: 100%;
    position: relative;

    &-wrap{
        border: rem(1px) solid color('primary');
        padding: rem(20px) rem(14px) rem(20px) rem(14px);
        @include font(normal,1.4,'nr','base');
        margin-top: rem(10px);
        margin-bottom: rem(30px);
        color: color('heading');
        @include font(400,1.4,'nr','base');
        box-shadow: 0 rem(3px) rem(5px) rgba(0,0,0,0.2);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 5;
        background-color: color('widgetBg');
    }

    .h5,
    h5{
        @include font(500,1.4,'nr','heading');
        color: color('heading');
        padding-left: rem(20px);
    }

    ul{
        list-style: none;
        padding: 0 0 0 rem(20px);
        > li{
            position: relative;

            &.active,
            &.success{
                &::before{
                    content      : "";
                    display      : inline-block;
                    transform    : rotate(45deg);
                    height       : rem(12px);
                    width        : rem(6px);
                    margin-left  : 60%;
                    border-bottom: rem(1px) solid color('success');
                    border-right : rem(1px) solid color('success');
                    position     : absolute;
                    top: rem(2px);
                    left: rem(-16px);
                    margin: 0;
                }
            }

            &.failed{
                &::before,
                &::after{
                    content                 : "";
                    display                 : inline-block;
                    width                   : rem(12px);
                    height                  : rem(1px);
                    background-color        : color('failed');
                    position                : absolute;
                    top: rem(8px);
                    left: rem(-20px);
                    transform: rotate(-45deg);
                }
                &::before{
                    transform: rotate(45deg);
                }
                &::after{
                    transform: rotate(-45deg);
                }
            }

            > ul{
                list-style: none;
                padding: 0;
                >li{
                    position: relative;
                    &::before{
                        content: "";
                        display: inline-block;
                        width: rem(8px);
                        height: rem(8px);
                        border-radius: 50%;
                        background-color: color('bullet-color');
                        margin-right: rem(6px);
                    }
                }
            }

        }
    }
}