$color:(
    primary             :       #4484F4,
    primary-text        :       #ffffff,
    secondry            :       #00AD46,
    secondry-text       :       #ffffff,
    border              :       #EBEBEB,
    base                :       #4E4E4E,   
    colordarkblue       :       #04202e,
    colorBlack          :       #000000,
    colorWhite          :       #ffffff,
    statusCompleted     :       #32B93B,
    statusCurrent       :       #4484F4,
    statusUpcomming     :       #8A8A8A,
    colorgray           :       #F8F8F8,
    light-purple        :       #7E829E
);

$font:(
    base            :      'Rubik'#{', sans-serif'},
    heading         :      'Rubik'#{', sans-serif'}
);

$font-size:(
    xs: 10px,
    xsm: 12px,
    sm: 14px,
    nr: 16px,
    md: 17px,
    lg: 24px,
    xlg: 34px,
    h1:48px,
    h2:24px,
    h3:17px,
);
$shadow:'0 0 3px rgba(0 0 0 0.16)';


// Bootstrap Variables
$grid-gutter-width:           30px !default;
