$color:(
    primary             :       #4484F4,
    colorwhite          :       #fff,
    secondry            :       #DD3126,
    secondry-text       :       #fff,
    border              :       #EBEBEB,
    colordarkblue       :       #04202e,
);

$font:(
    base            :      'Roboto'#{', sans-serif'},
    heading         :      'Poppins'#{', sans-serif'}
);

$font-size:(
    xs: 10px,
    sm: 14px,
    nr: 16px,
    md: 17px,
    lg: 24px,
    xlg: 34px,
    h1:48px,
    h2:24px,
    h3:17px,
);


// Bootstrap Variables
$grid-gutter-width:           30px !default;
