.settings__label,
.settings__control {
    display: block;
    width  : 100%;
}

.settings__label {
    margin-bottom: 5px;
    @include font(normal, 1.4, 'sm', 'base');
    color: color('label');
}

.settings__input {
    &-checkbox {
        position: relative;
        display : block;

        input[type="checkbox"] {
            opacity  : 0;
            position : absolute;
            z-index  : 5;
            width    : 18px;
            height   : 18px;
            top      : 50%;
            left     : 0;
            transform: translateY(-50%);

            &:checked {
                &+.settings__input-checkbox-type {

                    &::before,
                    &::after {
                        display         : inline-block;
                        content         : "";
                        position        : absolute;
                        background-color: color('primary');
                    }

                    &::before {
                        width    : 4px;
                        height   : 1px;
                        transform: rotate(45deg);
                        top      : 8px;
                        left     : 2px;
                    }

                    &::after {
                        width    : 9px;
                        height   : 1px;
                        transform: rotate(-45deg);
                        top      : 6px;
                        left     : 4px;
                    }
                }
            }

        }



        &-type {
            display       : inline-block;
            width         : 16px;
            height        : 16px;
            border        : 1px solid color('border');
            position      : relative;
            margin-right  : 10px;
            vertical-align: middle;
        }

        &-label {}

    }

    //&-checkbox
}

.settings__control {
    padding: 5px 10px;
    @include font(normal, 1.4, 'sm', 'base');
    color : color('inputText');
    border: 1px solid color('border');
    height: 30px;

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:active,
    &:-webkit-autofill:focus {
        background-color       : #FFFFFF !important;
        color                  : #000000 !important;
        -webkit-box-shadow     : 0 0 0 1000px white inset !important;
        -webkit-text-fill-color: #555555 !important;
    }

    &:active,
    &:focus {
        border-color: color('primary');
    }

    &.error {
        border-color: $danger;

        &:focus {
            border-color: $danger;
        }

        &+label.error {
            margin-top: 5px;
        }
    }
}

.form-group {
    margin-bottom: 20px;
}

.rdw-editor-wrapper {
    border: 1px solid color('border');

    .rdw-editor-toolbar {
        padding         : 10px 15px;
        background-color: color('default');
        margin-bottom   : 0;

        .rdw-option-wrapper {
            background-color: transparent;
            padding         : 5px 10px;
            display         : table;
        }

        .rdw-option-active {
            box-shadow: 0 0 3px rgba($color: #000000, $alpha: 0.2) inset;
        }

        .rdw-list-wrapper,
        .rdw-inline-wrapper {
            margin-bottom: 0;
        }

        .rdw-link-wrapper {
            margin-bottom: 0;
        }

        [class^="editor-toolbar--btn-"],
        [class*="editor-toolbar--btn-"] {
            display            : inline-block;
            vertical-align     : middle;
            width              : 22px;
            height             : 22px;
            margin-bottom      : 0;
            padding            : 0;
            background-position: center center;
            background-repeat  : no-repeat;
            margin             : 0 10px;

            img {
                opacity: 0;
            }

            &.rdw-option-active,
            &:hover {
                box-shadow: none;
            }
        }

        .editor-toolbar--btn {

            &-bold {
                background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABHNCSVQICAgIfAhkiAAAAQRJREFUSEvtld1twkAQhGecCqggLgE6SAlJBdiGAqAAjrNNAVRAUgLpADqggygdkAZuogAWAeEf2dwb93bSab7d2dEe4fnQsz4egFqHKy0y2UplCgI2ItPFLN5UUVoDClFH97aYjddlkOYAKT2LMAQxPNyFfTZPep0BmUkuijHp6qOABI4Da+PdLUjjDrwDQNqiQsmFBKOjQ9jmJnnpbNEtAUHfTy7oWxvvvQCOHWiZm9G0O+AiRYCIiODzn3BVVFsP2dr30AX6OkX1M5snr3dN0d0B/1N0qNQpAhGe5jDNzWjZqYPynVSdpMYzuAYI+qG4DsRJ65jW7uIGDx4/Wq1J3i36BTXDhxn6qYFwAAAAAElFTkSuQmCC');

                &:hover {
                    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABHNCSVQICAgIfAhkiAAAAQFJREFUSEvtlUEKgkAUht+DduqiE+QR6gZCHaBOkEfIdQoJQluP0BFq3Qh2g24Q3cBAaKO80DSMzBHH2Tnr4f/e/P8/MwiSF0rWhwHAdbjRooUXU4NCCEQuc7SwiSICyHWJcBU4yvEfpD2AyC1FCFFHgPUbQFHgaGNhALPVr2HmXnwoIYgwO2/Vax2k9QmkAwBx97GIKLPILEK4MEczhC2qEyCAe5oo03CHkRRAIeozW7XEAZUW5e1BNBFgwqtq55CN/VMfpentPTmdmK0te21R74Bqi4oLllmkF1NbzFZ9oRP8C5HXpNYZ/ALoQYDHNFE2nWvKfYtbbBh+NK5J0i16AYcOhhn5bdtOAAAAAElFTkSuQmCC');
                }

                &.rdw-option-active {
                    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABHNCSVQICAgIfAhkiAAAAQFJREFUSEvtlUEKgkAUht+DduqiE+QR6gZCHaBOkEfIdQoJQluP0BFq3Qh2g24Q3cBAaKO80DSMzBHH2Tnr4f/e/P8/MwiSF0rWhwHAdbjRooUXU4NCCEQuc7SwiSICyHWJcBU4yvEfpD2AyC1FCFFHgPUbQFHgaGNhALPVr2HmXnwoIYgwO2/Vax2k9QmkAwBx97GIKLPILEK4MEczhC2qEyCAe5oo03CHkRRAIeozW7XEAZUW5e1BNBFgwqtq55CN/VMfpentPTmdmK0te21R74Bqi4oLllmkF1NbzFZ9oRP8C5HXpNYZ/ALoQYDHNFE2nWvKfYtbbBh+NK5J0i16AYcOhhn5bdtOAAAAAElFTkSuQmCC');
                }
            }

            &-italic {
                background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABHNCSVQICAgIfAhkiAAAAOFJREFUSEvtlMERgjAQRXdjA3QgVuLYAS2ABYh3CWvwLt4VSnDsgE7ADrSBxIlycBwhkYGLmmuS97J/kyAMPHBgPvwFxoStI+IiU200wYO3rB8S6HiIckeiKgHBUaCuI8lcIv/SFp11RBoSiUOIgNs7UMFOxEFo6vKnggoBxxrKJE6I/Ko3wSrZe0yxY336k4gDzwTX89YVRCIrEGCqN0nE2Sbyi94ERLkrmSof0atzwueuDdy6Ar7OUkBY1IJlwudpb4IuV/NZ3tiDrl/Da2VfLLBtommd9TswgZrm/wJjcjd2/1cZm2gfmgAAAABJRU5ErkJggg==');

                &:hover {
                    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABHNCSVQICAgIfAhkiAAAAOpJREFUSEvtlE8KgkAUh99j2gQjeIPsJBl6AG9SLQMFQaFldpJor+BNtBsUTbRRJiZbRKQziW7KWc3whu/j/eYPQs8De+bDIJAmrByRHTLeRItd+pH1RwIRj+lznRCWIaIOwM9FQY3Ux1NTdMoRCYgdsiUAbMWcc9glHhXrxvGVwApZjgATQSwImabrcd6ZwAquDiLfV0B+iF3NkcFFXbkDO7ikgDir+Hwee1ramcDc3IxRWWYPNsAxcamhAlfuwApYhAiLJ3QVuzTqTNDmar7Ka8+g7dfw3tkPC1QPUbZP+R3IQHX1QSBN7g4SBVQZ4xX9RQAAAABJRU5ErkJggg==');
                }

                &.rdw-option-active {
                    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABHNCSVQICAgIfAhkiAAAAOpJREFUSEvtlE8KgkAUh99j2gQjeIPsJBl6AG9SLQMFQaFldpJor+BNtBsUTbRRJiZbRKQziW7KWc3whu/j/eYPQs8De+bDIJAmrByRHTLeRItd+pH1RwIRj+lznRCWIaIOwM9FQY3Ux1NTdMoRCYgdsiUAbMWcc9glHhXrxvGVwApZjgATQSwImabrcd6ZwAquDiLfV0B+iF3NkcFFXbkDO7ikgDir+Hwee1ramcDc3IxRWWYPNsAxcamhAlfuwApYhAiLJ3QVuzTqTNDmar7Ka8+g7dfw3tkPC1QPUbZP+R3IQHX1QSBN7g4SBVQZ4xX9RQAAAABJRU5ErkJggg==');
                }
            }

            &-underline {
                background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABHNCSVQICAgIfAhkiAAAARFJREFUSEvtVdtxwjAQvFUDoYNAB+4A0wElxKYB8g+2xqIA8x8wVABUgFNB6ABKoAF0jF8ZJrGxPcQwmUGfmtXu3Uq3AjW80DA/PUZgpAJTMG+j7jTQm4ytMK/TsTcPQdRlok/l2GYeJreDp8ClVU+L/v0rmh1BeCGmpefab5XnQMqgrQXv4wMFh6UMDC34K4Hwu3IGfmWBCJhNaUpgKWewyAjiAsArAhnRntDoSGkdaglEFZ6EDmMLEpUdCayZtQGGSaBWuj/1XHtYFJpXw26kPvpgLL5FfrJc8T6DlqZpaseQwX0QXtOqN1rALwrB0kn+yz+itINbxX4JXEZ1HfKiP+H+AnWqroK9/x1UqaoO5gxWrtAZ+Cj/wgAAAABJRU5ErkJggg==');

                &:hover {
                    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABHNCSVQICAgIfAhkiAAAARpJREFUSEtjZKAxYKSx+QwDY4FL82cHBkbG/WDf/f/vuKeW9wA2n7o0fz7AwMhoz/D//8E9tbwO2NRg9cGoBchBNRpEQz0VtXz+wMDAyP+fgWHh3hqeBKLzgUP7dwWWv3/vg/MZDs2urV8M/v9nOA81tHBPDc8Eoi0AKYTnUgYGhn+MDIn7qnkWwAyAOmA9AwODAUjsDzOz4oFKzgckWQBx4f8DoCCAarzAwMi44f+/fyBDHRgZGQUgJQnDxL21PAW4Ck28hZ1z89cARsZ/C5AsQTEHX9jDFBIsTUHBwfznbwEDI0MAIwODPETj/40M/xkm4CoECeZkatYRBH1AqWUYFqAU1aSYjqNOoL8FpDiaGLX0jwNiXEWKGgANfsgZuCScrAAAAABJRU5ErkJggg==');
                }

                &.rdw-option-active {
                    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABHNCSVQICAgIfAhkiAAAARpJREFUSEtjZKAxYKSx+QwDY4FL82cHBkbG/WDf/f/vuKeW9wA2n7o0fz7AwMhoz/D//8E9tbwO2NRg9cGoBchBNRpEQz0VtXz+wMDAyP+fgWHh3hqeBKLzgUP7dwWWv3/vg/MZDs2urV8M/v9nOA81tHBPDc8Eoi0AKYTnUgYGhn+MDIn7qnkWwAyAOmA9AwODAUjsDzOz4oFKzgckWQBx4f8DoCCAarzAwMi44f+/fyBDHRgZGQUgJQnDxL21PAW4Ck28hZ1z89cARsZ/C5AsQTEHX9jDFBIsTUHBwfznbwEDI0MAIwODPETj/40M/xkm4CoECeZkatYRBH1AqWUYFqAU1aSYjqNOoL8FpDiaGLX0jwNiXEWKGgANfsgZuCScrAAAAABJRU5ErkJggg==');
                }
            }

            &-unordered {
                background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABHNCSVQICAgIfAhkiAAAAIdJREFUSEtjZKAxYKSx+QyjFhAMYZQgqmuc28DAyFjP8P9/Y1N9ckNN83wHJgYGe4KmoCn4x8BwsKU28QBIGNWCpnn/YWqb6pIY4RaSagPUgZgWYPPBv38OpJr/j4npAFYfkGoQMeqHWTIdTUWwSB9NRcQkf7ia0bIIa3CNpiLyUxFJOolUDAAKknUZnS6BiwAAAABJRU5ErkJggg==');

                &:hover {
                    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABHNCSVQICAgIfAhkiAAAAIZJREFUSEtjZKAxYKSx+QyjFhAMYZQgcmn+3MDAyFjP8P9/455a3gaX5s8ODExM9gRNQVfw79/BPbW8B0DCqBa0fPkPU7unhocRbiGpNkAdiGkBNh8wMDiQaj4DA8MBrD4gwyCCWoZZMh1NRUgxPpqKCCZ/uILRsghXWI2mIjJTEfHaiFcJAF7YbxnXuzw+AAAAAElFTkSuQmCC');
                }

                &.rdw-option-active {
                    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABHNCSVQICAgIfAhkiAAAAIZJREFUSEtjZKAxYKSx+QyjFhAMYZQgcmn+3MDAyFjP8P9/455a3gaX5s8ODExM9gRNQVfw79/BPbW8B0DCqBa0fPkPU7unhocRbiGpNkAdiGkBNh8wMDiQaj4DA8MBrD4gwyCCWoZZMh1NRUgxPpqKCCZ/uILRsghXWI2mIjJTEfHaiFcJAF7YbxnXuzw+AAAAAElFTkSuQmCC');
                }
            }

            &-ordered {
                background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABHNCSVQICAgIfAhkiAAAAKtJREFUSEvdlMENwjAMRb8zASOUTboKZQLutFikc5Bu0jIYMfKhUou4VLKDaM7Rf87LTwjOi5zzsSPANaY6iIwCPGPX1FbqVooUQiI8A2boVthyyN8Ctk7+bf8OW6THtGzSShFzOmSSMQe69O1pMm9Re39MgAyxOw96ElPAMsxNkUUtPzPK1bSIIuZUvUK+AXTU/8j0ktWdAjIJC6EyBxRR9N8t8pheM93fwRtmwIUZCqo2lQAAAABJRU5ErkJggg==');

                &:hover {
                    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABHNCSVQICAgIfAhkiAAAAKdJREFUSEtjZKAxYKSx+QzDyAKX5s8ODIyM+xn+/z+4p5bXgVpBhxJEYEsYGBpgFsAtJdU2JEcOrAWkOhyb+uGYikD+pGJKQgkih4b/AiwsX0FJtXBPLe8BWqSiA/+YGBfsq+ZZAPIIVS1AMYxWQUSNZIluBv2SKV2CyKH9uwLz37/1jP//K4LKI6pGMijsoBY0MP7/r0B1C+gSREM7FdHC9SAzaZ4PAK1EdxkUxcHUAAAAAElFTkSuQmCC');
                }

                &.rdw-option-active {
                    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABHNCSVQICAgIfAhkiAAAAKdJREFUSEtjZKAxYKSx+QzDyAKX5s8ODIyM+xn+/z+4p5bXgVpBhxJEYEsYGBpgFsAtJdU2JEcOrAWkOhyb+uGYikD+pGJKQgkih4b/AiwsX0FJtXBPLe8BWqSiA/+YGBfsq+ZZAPIIVS1AMYxWQUSNZIluBv2SKV2CyKH9uwLz37/1jP//K4LKI6pGMijsoBY0MP7/r0B1C+gSREM7FdHC9SAzaZ4PAK1EdxkUxcHUAAAAAElFTkSuQmCC');
                }
            }

            &-link {
                background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABHNCSVQICAgIfAhkiAAAATlJREFUSEvtVNtRAkEQ7N5LgAzECMQIxAjUCLyTADQAgbkjAE0ATjMgAwgBIxAzwADYtg5ZCiielvxQ7Oe8eqe7d4kDHx54Pk4AWxk+MorM8pKP8AivGER5YX8pzZo1a6RtA9lczGEkqht5l5olw/ncjKLJcKoHorKS2E0AoUEYOfHaLBmE0AygkXa6IG4EfUTe3S7fZJOa08u9griHMHTipVkyKnomAGZ52Tt9CvqKvKuE5FaLLBXUs06fwJWgpNWovc0Anlt51Uk9CO9Z8yEOfSv5nh86pS2E6lk7JphjLj7Z4OAAgSL8inT+7xQVWwSRIQyceLevyGPnXwjGyzou2HTsfJ/gxV9tKug78q660qZTN5U8/ZOIQqyzXR9aMZhi14m29qHta8ld64/ss9t17X3qThRtZesHihfCGQgazL4AAAAASUVORK5CYII=');

                &:hover {
                    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABHNCSVQICAgIfAhkiAAAAUtJREFUSEvtVEtOwlAUPYdXB4aauANxBeIKrKZzdQXWFejUoLEEjUPdgboD5n7oEnAF4g4wBZ3wvOY1toGm0kLEAaHDd++7593zKTHjjzOejwVALsNzRpHjy6q19HEkIh6Bysj+IvXHsxXfbYQ+yPPhmoh0QTa1UvXgZLkzXEsoioZb/RaAaiaxYwDifgNUKnH7oWa347MEwL0ImwB3RfCiLbWXfsk4Nc3jlNW/IXAgQEcPypuBz665EwE4V58VS+tXAd70oFyNi7kWSTW4jTAAufVFHD7X7LsEwG2EDsiWAPdPp7YX38viO0uX+GznsueVBLf4ofP/ABKKRLpa2+t/TpFZJRYZQHug1P4UIl8T8NI6jthUqX5AYmNamwLyTtLJtGnkJpMF1TsW0gRtrWjQzGBBFDT/16BNasmi/XP2syu69iR9C4py2foG9iK7Gem2nHkAAAAASUVORK5CYII=');
                }

                &.rdw-option-active {
                    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABHNCSVQICAgIfAhkiAAAAUtJREFUSEvtVEtOwlAUPYdXB4aauANxBeIKrKZzdQXWFejUoLEEjUPdgboD5n7oEnAF4g4wBZ3wvOY1toGm0kLEAaHDd++7593zKTHjjzOejwVALsNzRpHjy6q19HEkIh6Bysj+IvXHsxXfbYQ+yPPhmoh0QTa1UvXgZLkzXEsoioZb/RaAaiaxYwDifgNUKnH7oWa347MEwL0ImwB3RfCiLbWXfsk4Nc3jlNW/IXAgQEcPypuBz665EwE4V58VS+tXAd70oFyNi7kWSTW4jTAAufVFHD7X7LsEwG2EDsiWAPdPp7YX38viO0uX+GznsueVBLf4ofP/ABKKRLpa2+t/TpFZJRYZQHug1P4UIl8T8NI6jthUqX5AYmNamwLyTtLJtGnkJpMF1TsW0gRtrWjQzGBBFDT/16BNasmi/XP2syu69iR9C4py2foG9iK7Gem2nHkAAAAASUVORK5CYII=');
                }
            }

            &-undo {
                background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAYCAYAAAAPtVbGAAAABHNCSVQICAgIfAhkiAAAASpJREFUSEvtlNFRwkAQhv//KEBL0A60AmMHUoEGfKcBPQ9iAfDuhFiBKYEStANLoAFvnRu5eCGBg2EmDwx5u9nd+3a/2wnRwccOGDhB9rJ8hLr0OC8mL4OHvTzsmFzp0pNcBFJkepiGtcbML36UHQG8IpD4mAALQD57Vs2MSb+38WoQl+hBf5fLPLx400UO2LNMN8EakBWopDABcf7fuXxRUFZnMiFwU4EFS6ts+vr8WOX4WCuk1rHgXQlNW5duWksxIO59jaXtr4O2QpyGTA9uY+/7lL3dUVgQPINgqYTXYVPRSdqWoQ3qQErUh9ed6WF/d13BMsQm0uN8CmLk8pTlpZ8mOknw8I31Xoeu1n1BYamE0wYk1uUh8SP8dx2iI1Z70hUzVIt3ousXUfuIGRsbz8wAAAAASUVORK5CYII=');

                &:hover {
                    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAYCAYAAAAPtVbGAAAABHNCSVQICAgIfAhkiAAAASdJREFUSEvtlM1twkAQhd9kfIkCghKSDpIKcAQFQAWJK+AcCSSkIHElFYRUAAVgaUtIOkgJHIxy8WbQWiwsv2uE5ANij34z75t9szKhgEMFMHCFnJTyBcZV7yejuFN6PSmHnMWruBr9RAQwoMjtDQd/94HWbQCPAEJHUwC+U+YP9Xb7e4y3ATGFFrQ0/9wyPuSlUuboEGwHkoFEJsaciKrWVQQ/hOy7PSGIamtdZsBNFHfv3JpM3gtxxxXgSzP39k1pbsta9wh4WcOotQ3yQdS0U3r27bf+Pm8S/Y8AqojITAfBkzuUD7LaUT6QjG3ccbfcsj1eiPsY/KBkSATzEpEyP9jb5ILkBS13pCCY6ICHOxDflOfoF/jvOicOX+81Ll9CG3ohcS0AMUWBGSFH0KYAAAAASUVORK5CYII=');
                }

                &.rdw-option-active {
                    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAYCAYAAAAPtVbGAAAABHNCSVQICAgIfAhkiAAAASdJREFUSEvtlM1twkAQhd9kfIkCghKSDpIKcAQFQAWJK+AcCSSkIHElFYRUAAVgaUtIOkgJHIxy8WbQWiwsv2uE5ANij34z75t9szKhgEMFMHCFnJTyBcZV7yejuFN6PSmHnMWruBr9RAQwoMjtDQd/94HWbQCPAEJHUwC+U+YP9Xb7e4y3ATGFFrQ0/9wyPuSlUuboEGwHkoFEJsaciKrWVQQ/hOy7PSGIamtdZsBNFHfv3JpM3gtxxxXgSzP39k1pbsta9wh4WcOotQ3yQdS0U3r27bf+Pm8S/Y8AqojITAfBkzuUD7LaUT6QjG3ccbfcsj1eiPsY/KBkSATzEpEyP9jb5ILkBS13pCCY6ICHOxDflOfoF/jvOicOX+81Ll9CG3ohcS0AMUWBGSFH0KYAAAAASUVORK5CYII=');
                }
            }

        }

    }

    .rdw-history-wrapper {
        margin-bottom: 0;
    }

    .rdw-editor-main {
        padding: 10px 15px;
        border : 1px solid transparent;
        height : 276px;

        &:focus-within {
            border: 1px solid color('primary');
        }
    }

    .public-DraftEditor-content[contenteditable=true] {
        -webkit-user-modify: read-write-plaintext-only;
        min-height         : 200px;
    }


    .rdw-editor-main {

        &.error,
        &.error:focus-within {
            border-color: $danger;
        }
    }

    &+label.error {
        margin-top: 5px;
    }

}

.settings__content-area--body .react-multi-email {
    border-radius: 0px;
    @include font(normal, 1.4, 'sm', 'base');
    padding: 1px 4px;

    >span[data-placeholder] {
        line-height: 0.8;
    }

    [data-tag] {
        padding: 3px 6px;
        @include font(normal, 1.1, 'sm', 'base');
        border-radius: 35px;
        text-overflow: ellipsis;
        overflow     : hidden;
        max-width    : 330px;
        display      : block;
        position     : relative;
        padding-right: 20px;

        [data-tag-handle] {
            color    : $danger;
            font-size: fontSize('xlg');
            position : absolute;
            top      : 50%;
            right    : 5px;
            transform: translateY(-50%);
        }
    }

    &.focused {
        border-color: color('primary');
    }
}



.settings__multi-pills-control {
    &.error {
        .react-multi-email {
            border-color: $danger;
        }

        &+label.error {
            margin-top: 5px;
        }
    }
}



label {
    @include font(normal, 1.4, 'nr', 'base');

    &.error {
        display: block;
        color  : $danger;
    }
}